<template>
  <div class="q-pa-md">
    <div class="row">
      <div class="col-md-2 col-lg-1"></div>
      <!--  -->
      <div class="col-md-7 col-lg-6 col-xs-12 col-sm-12">
        <div class="row q-col-gutter-md">
          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="">
              <q-card class="">
                <div class="col-auto">
                  <q-btn color="grey-7" round flat icon="more_vert">
                    <q-menu cover auto-close>
                      <q-list>
                        <q-item clickable  @click="$router.push('/toral/' + 'edit.id')">
                          <q-item-section>Edit toral portion</q-item-section>
                        </q-item>
                        <q-item clickable>
                          <q-item-section>Delete toral portion</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
                </div>
                <q-card-section class="text-center text-h5 text-capitalize">
                  this week toral topic:
                  <div class="text-blue">{{ toral.topic }}</div>
                </q-card-section>
                <!-- <hr> -->
                <q-card-section class="text-center text-h5 text-capitalize">
                  toral reading for this week:
                  <div class="text-red text-body1">
                    {{ toral.toral }}
                  </div>
                </q-card-section>

                <q-card-section class="text-center text-h5 text-capitalize">
                  Haftarah toral reading this week:
                  <div class="text-red text-body1">{{ toral.halftara }}</div>
                </q-card-section>
              </q-card>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4 col-lg-4">
        <bibleSearch></bibleSearch>
      </div>
    </div>
  </div>
</template>
<script>
name: 'toral'
import bibleSearch from '../../components/bibleSearch'
export default {
  components: {
    bibleSearch,
  },
  data() {
    return {}
  },

  computed: {
    toral() {
      return this.$store.getters.getToral(this.$route.params.toralID)
    },
  },
  methods: {},
}
</script>
