<template>
  <div class="q-pa-md">
    <div class="row">
      <div class="col-md-2 col-lg-3"></div>
      <!--  -->
      <div class="col-md-7 col-lg-6 col-xs-12 col-sm-12">
        <div v-if="toral.length > 0">
          <div class="row q-col-gutter-md">
            <div
              class="col-xs-12 col-md-12 col-sm-12 col-lg-12"
              v-for="tor in toral"
              :key="tor.id"
            >
              <div class="">
                <router-link
                  :to="'/toral/' + tor.id"
                  style="text-decoration: none;"
                  class="text-black"
                >
                  <q-card class="">
                    <q-card-section class="text-center text-h5 text-capitalize">
                      this week toral topic:
                      <div class="text-blue">{{ tor.topic }}</div>
                    </q-card-section>
                    <!-- <hr> -->
                    <q-card-section class="text-center text-h5 text-capitalize">
                      toral reading for this week:
                      <div class="text-red text-body1">
                        {{ tor.toral }}
                      </div>
                    </q-card-section>

                    <q-card-section class="text-center text-h5 text-capitalize">
                      Haftarah toral reading this week:
                      <div class="text-red text-body1">{{ tor.halftara }}</div>
                    </q-card-section>
                  </q-card>
                </router-link>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div v-else>
          <center>
            <q-img
              src="../../statics/img/think.png"
              style="width: 20%;"
            ></q-img>
          </center>
          <div class="text-center">
            <p class="text-h5">Thinking why the page is empty?</p>
            <p class="text-body1">
              Sorry it seems weekly toral portion for this week have not been
              uploaded, click the below button to uploaded a toral protion
            </p>
            <q-btn class="bg-primary text-white" to="/upload-toral">
              uploaded toral parashat
            </q-btn>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-md-2 col-lg-3">
        <!-- <bibleSearch></bibleSearch> -->
      </div>
    </div>
  </div>
</template>
<script>
name: 'toral'
import bibleSearch from '../../components/bibleSearch'
export default {
  components: {
    bibleSearch,
  },
  data() {
    return {}
  },

  computed: {
    toral() {
      return this.$store.getters.torals
    },
  },
  methods: {
    getTorals() {
      this.$store.dispatch('getTorals')
    },
  },
  mounted() {
    this.getTorals()
  },
}
</script>
