<template>
  <div class="q-pa-md">
    <div class="row">
      <div class="col-md-3 col-lg-3"></div>
      <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
        <p class="text-h6 text-center">uploading weekly toral parachat</p>
        <p class="text-center text-weight-light">
          expound the actual teachings. pleasure and praising pain was born and
          I will give you a complete account of the system, and expound the
          actual teachings
        </p>
        <!--  -->
        <br />

        <q-form v-model="valid" class="q-gutter-md">
          <q-input
            outlined=""
            v-model.trim="topic"
            label="Toral topic of the week"
            hint="e.g Parashat Vayera"
            lazy-rules
            :rules="[
              (val) =>
                (val && val.length > 0) || 'sorry toral topic is required',
            ]"
          />

          <q-input
            outlined=""
            v-model.trim="toral"
            label="toral portion of the week"
            hint=" e.g Torah Portion: Genesis 18:1-22:24"
            lazy-rules
            :rules="[
              (val) =>
                (val && val.length > 0) || 'sorry toral portion is required',
            ]"
          />

          <q-input
            outlined=""
            v-model.trim="halftara"
            label="Toral halftara of the week"
            hint=" e.g   halftara for Ashkenazim: II Kings 4:1 - 4:37"
            lazy-rules
            :rules="[
              (val) =>
                (val && val.length > 0) || 'sorry toral haftarah is required',
            ]"
          />

          <div>
            <q-btn
              class="full-width text-white bg-blue"
              rounded=""
              @click="upload"
              :disable="!valid"
            >
              upload
            </q-btn>
          </div>
        </q-form>
      </div>
      <div class="col-md-3 col-lg-3"></div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      valid: '',
      topic: '',
      toral: '',

      halftara: '',
    }
  },

  methods: {
    upload() {
      if (this.valid) {
        let data = {
          topic: this.topic,
          toral: this.toral,
          halftara: this.halftara,
        }
        this.$store.dispatch('ADD_TORAL',data)
      }
    },
  },
}
</script>
