<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar
        style="height: 70px;"
        :style="
          $q.dark.isActive
            ? 'background-color:black'
            : 'background-color: #f5f8fe;'
        "
      >
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="drawer = !drawer"
          class="lt-md"
          :class="$q.dark.isActive ? 'text-white' : 'text-black'"
        />

        <q-toolbar-title
          :class="$q.dark.isActive ? 'text-white' : 'text-black'"
        >
          Quasar App
        </q-toolbar-title>

        <q-tabs
          v-model="tab"
          shrink
          class="gt-sm"
          :class="$q.dark.isActive ? 'text-white' : 'text-black'"
        >
          <q-route-tab name="tab1" label="home" to="./" />
          <q-route-tab name="tab2" label="about us" to="./about" />
          <q-route-tab name="tab3" label="service" to="./service" />
          <q-route-tab name="tab3" label="contact us" to="./contact" />
        </q-tabs>
        <q-btn
          size="17px"
          flat=""
          style="width: 13%;"
          rounded=""
          class="bg-primary text-white text-lowercase text-weight-light gt-sm"
        >
          ask question
        </q-btn>

        <q-btn
          flat
          round
          :class="$q.dark.isActive ? 'text-white' : 'text-black'"
          @click="$q.dark.toggle()"
          :icon="$q.dark.isActive ? 'nights_stay' : 'wb_sunny'"
        />
        <q-space></q-space>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <q-drawer v-model="drawer">
        <q-scroll-area class="fit">
          <q-list>
            <img src="statics/img/holi.jpeg" />

            <q-item clickable rel="noopener" to="./" class="text-white">
              <q-item-section avatar>
                <q-icon name="mdi-home-variant-outline" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Home</q-item-label>
              </q-item-section>
            </q-item>
            <q-item
              clickable
              tag="a"
              rel="noopener"
              href="https://www.hebcal.com/sedrot/"
            >
              <q-item-section avatar>
                <q-icon name="mdi-book-open-page-variant" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Toral Portion</q-item-label>
              </q-item-section>
            </q-item>
            <q-item
              clickable
              tag="a"
              rel="noopener"
              href="https://www.hebcal.com/hebcal/?v=1&maj=on&min=on&i=off&year=2020&month=x&yt=G&lg=s&c=off&geo=geoname"
            >
              <q-item-section avatar>
                <q-icon name="mdi-calendar" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Calender</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable to="./contact">
              <q-item-section avatar>
                <q-icon name="mdi-account-group" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Contact</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable to="./about">
              <q-item-section avatar>
                <q-icon name="mdi-semantic-web" />
              </q-item-section>
              <q-item-section>
                <q-item-label>About</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
          <!--  -->
        </q-scroll-area>
      </q-drawer>
      <router-view />
    </q-page-container>
    <socialButton></socialButton>
    <Footer></Footer>
  </q-layout>
</template>

<script>
import socialButton from '../components/socialButton'
// import Time from "../components/Time";
const menuList = [
  {
    icon: 'home',
    label: 'Home',
    separator: true,
    to: './',
  },
  {
    icon: 'send',
    label: 'Calender',
    separator: false,
    to: 'calender',
  },
  {
    icon: 'delete',
    label: 'Parachat',
    separator: false,
    to: './parachat',
  },
  {
    icon: 'error',
    label: 'Contact',
    separator: true,
    to: './contact',
  },
]
export default {
  name: 'MyLayout',
  components: {
    socialButton,
    Footer: () => import('components/Footer.vue'),
    // Time
  },
  data() {
    return {
      tab: '',
      drawer: false,
      menuList,
      left: false,
      leftDrawerOpen: false,
    }
  },
}
</script>

<style scoped>
.x-scroller {
  overflow-y: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
</style>
