<template>
  <div>
    <ColOne></ColOne>
    <ColTwo></ColTwo>
    <br />
    <Question></Question>
    <br />
    <ColThree></ColThree>
  </div>
</template>

<script>
import ColOne from './ColOne'
import ColTwo from './ColTwo'
import Question from '../question'
import ColThree from './ColThree'
export default {
  components: {
    ColOne,
    ColTwo,
    Question,
    ColThree,
  },
  data() {
    return {}
  },
}
</script>
