<template>
  <div class="firstrow">
    <br />
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 col-xs-12 lg-6">
        <div class="row q-col-gutter-md">
          <div
            class="col-md-4 col-xs-4"
            v-for="(item, index) in items"
            :key="index"
          >
            <router-link :to="item.to" style="text-decoration: none;">
              <q-card flat="">
                <q-card-section>
                  <q-list>
                    <q-item>
                      <q-item-section>
                        <q-item-label
                          class="text-h5 text-center text-grey text-bold text-capitalize"
                        >
                          {{ item.title }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card-section>
              </q-card>
            </router-link>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <br />
    <br />
    <div class="row justify-center q-col-gutter-xl q-pa-md">
      <div class="col-md-5 col-xs-12">
        <q-img
          src="../../statics/img/j3.jpg"
          style="height: 400px; border-radius: 20px;"
        ></q-img>
      </div>
      <div class="col-md-6 col-xs-12 text-center">
        <br />
        <p class="text-h3 text-capitalize">our believe</p>
        <p class="text-body1">
          Jewish people believe in the Torah, which was the whole of the laws
          given to the Israelities at Sinai. They believe they must follow G-d's
          laws which govern daily life. Jewish people believe there’s only one
          G-d who has established a covenant—or special agreement—with them.
          jewish believe that God communicates to believers through prophets and
          rewards good deeds while also punishing evil. Jews believe that there
          is a single God who not only created the universe, but with whom every
          Jew can have an individual and personal relationship. They believe
          <!-- that God continues to work in the world, affecting everything that
          people do. The Jewish relationship with God is a covenant
          relationship. In exchange for the many good deeds that God has done
          and continues to do for the Jewish People... The Jews keep God's laws
          The Jews seek to bring holiness into every aspect of their lives. -->
        </p>
        <q-btn
          rounded=""
          outline=""
          style="width: 50%;"
          class="text-capitalize text-blue"
        >
          continue
        </q-btn>
      </div>
      <div class="col-md-2"></div>
    </div>
    <br />
    <br />
    <!--  -->

    <div class="bg-grey-2">
      <div class="row q-pa-md">
        <div class="col-md-2">...</div>
        <div class="col-md-8 col-xs-12">
          <p class="text-center text-h4">Keep control. And learn faster.</p>
          <p class="text-center text-body1">
            This are major things you need know in order to keep you growing and
            more understanding of what you don't know
          </p>
          <div class="row q-col-gutter-md">
            <div
              class="col-md-4 col-xs-12 col-sm-6"
              v-for="(list, index) in lists"
              :key="index"
            >
              <router-link
                :to="list.to"
                style="text-decoration: none; color: black;"
              >
                <q-card class="card" flat="">
                  <q-card-section class="text-center text-h6 text-capitalize">
                    <div>
                      <q-img
                        src="../../statics/img/two1.png"
                        style="width: 40%;"
                      >
                        <q-img
                          src="../../statics/img/b.png"
                          style="
                            width: 30%;
                            position: relative;
                            top: 20px;
                            border-radius: 20px;
                          "
                        ></q-img>
                      </q-img>
                    </div>
                    {{ list.title }}
                  </q-card-section>
                  <q-card-section class="text-center text-body1">
                    {{ list.content }}
                  </q-card-section>
                </q-card>
              </router-link>
            </div>
          </div>
        </div>
        <div class="col-md-3">...</div>
      </div>
    </div>
    <br />
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: 'upcoming',
          to:"./upcoming"
        },
        {
          title: 'siddur',
          to:"./siddur"
        },
        {
          title: 'events',
          to:"./event"
        },
      ],

      lists: [
        {
          title: 'major holidays',
          content:
            'Secondary line text. Lorem ipsum dolor sit amet, consectetur adipiscit elit',
          to: './holiday',
        },
        {
          title: 'food  blessing',
          content:
            'Secondary line text. Lorem ipsum dolor sit amet, consectetur adipiscit elit',
          to: './blessing',
        },

        {
          title: 'candling light',
          content:
            'Secondary line text. Lorem ipsum dolor sit amet, consectetur adipiscit elit',
          to: './candle',
        },
        {
          title: 'weekly toral portion',
          content:
            'Secondary line text. Lorem ipsum dolor sit amet, consectetur adipiscit elit',
          to: './torals',
        },
        {
          title: 'calender',
          content:
            'Secondary line text. Lorem ipsum dolor sit amet, consectetur adipiscit elit',
          to: './calender',
        },
        {
          title: 'learn from',
          content:
            'Secondary line text. Lorem ipsum dolor sit amet, consectetur adipiscit elit',
          to: './',
        },
      ],
    }
  },
}
</script>

<style scoped>
.card {
  /* height: 300px; */
}
</style>
