<template>
  <div class="q-pa-md">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7 col-xs-12 col-sm-12 text-center">
        <p class="text-h4">Days of Activites</p>
        <p class="text-body1">
          Our days of activities is a weekly program run by yahweh is life
          assemble(YILLA) to keep control and enable member to stay positive and
          not going astrey or against the will of our father who created heaven
          and earth.
        </p>
        <br />
      </div>
      <div class="col-md-2"></div>
    </div>
    <!--  -->
    <div class="row q-col-gutter-xl">
      <div class="col-md-1"></div>
      <div class="col-md-5 col-xs-12 col-sm-12">
        <div class="row q-col-gutter-md">
          <div class="col-md-12" v-for="(item, index) in items" :key="index">
            <q-card bordered="" flat="">
              <q-card-section class="text-center text-title1">
                {{ item.title }}
              </q-card-section>
              <q-card-section class="text-center text-weight-light">
                {{ item.content }}
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-xs-6 col-sm-6 gt-sm">
        <q-img src="../../statics/img/kepa.jpg"></q-img>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: 'Mid-week prayer',
          content:
            ' Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aperiam similique quo quam soluta ex dolor commodi ducimus provident adipisci?',
        },
        {
          title: 'Fellowship',
          content:
            ' Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aperiam similique quo quam soluta ex dolor commodi ducimus provident adipisci?',
        },
        {
          title: 'Toral Study',
          content:
            ' Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aperiam similique quo quam soluta ex dolor commodi ducimus provident adipisci?',
        },
      ],
    }
  },
}
</script>
