<template>
  <div class="bg-grey-2 q-pa-sm">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7 col-xs-12 text-center">
        <p class="text-h4 text-capitalize">get in touch with us</p>
        <p class="text-body1">
          Have any Question or want to get in touch with Yilla Rabbi or elders
          <br />
          Feel free to contact any of this rabbi / elders at any time, easy to
          assess but talk maturely
        </p>
        <br />
      </div>
      <div class="col-md-2"></div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-1"></div>
      <div class="col-md-4 text-center list q-col-gutter-md">
        <q-card
          flat=""
          class="bg-transparent"
          v-for="(list, index) in lists"
          :key="index"
        >
          <q-card-section>
            <q-img
              src="../../statics/img/j.png"
              style="height: 120px; width: 50%;"
            ></q-img>
            <p class="text-h4 text-capitalize">{{ list.title }}</p>
            <p class="text-body1">
              {{ list.content }}
            </p>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-md-3 text-center">
        <q-img
          src="../../statics/img/j.png"
          style="border-radius: 20px;"
        ></q-img>
      </div>

      <div class="col-md-4 text-center list q-col-gutter-xl">
        <q-card
          flat=""
          class="bg-transparent"
          v-for="(find, index) in finds"
          :key="index"
        >
          <q-card-section>
            <q-img
              src="../../statics/img/j.png"
              style="height: 120px; width: 50%;"
            ></q-img>
            <p class="text-h4 text-capitalize">{{ find.title }}</p>
            <p class="text-body1">
              {{ find.content }}
            </p>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      finds: [
        {
          title: 'king olukwu',
          content:
            'form of the mile then spread to the British-colonized nations form of the mile then spread to the Britishform of the mile then spread to the British-colonized nations form of the mile then spread to the British',
        },
        {
          title: 'king miles',
          content:
            'form of the mile then spread to the British-colonized nations form of the mile then spread to the Britishform of the mile then spread to the British-colonized nations form of the mile then spread to the British',
        },
      ],
      lists: [
        {
          title: 'david miles',
          content:
            ' form of the mile then spread to the British-colonized nations form of the mile then spread to the British-colonized nations form of the mile then spread to the British-colonized nations form of the mile then spread to the British-colonized nations',
        },
        {
          title: 'david emeka',
          content:
            ' form of the mile then spread to the British-colonized nations form of the mile then spread to the British-colonized nations form of the mile then spread to the British-colonized nations form of the mile then spread to the British-colonized nations',
        },
      ],
    }
  },
}
</script>
