<template>
  <div>
    <q-img src="../statics/img/blessing.jpg"></q-img>
    <h6 class="text-center">
      Listed below are some Hebrew prayers and blessings that are part of Judaism that are
      <br />recited by many Jews. Most prayers and blessings can be found in the Siddur, or prayer book.
    </h6>
    <div class="row justify-center" container>
      <div class="col-lg-2 q-pa-md q-gutter-md">
        <!-- <q-card style="height:100px"></q-card> -->
      </div>

      <div class="col-lg-8">
        <div class="row justify-center">
          <div
            class="col-xs-12 col-sm-12 col-md-6 col-lg-6 q-pa-md"
            v-for="(list,index) of lists"
            :key="index"
          >
            <p class="text-uppercase text-center">{{ list.head }}</p>
            <center>
              <small>{{ list.small }}</small>
            </center>
            <q-card>
              <q-card-section>
                <p>{{ list.trans }}</p>

                <p>{{ list.eng }}</p>

                <p class="heb pa-2">{{ list.heb }}</p>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>

      <div class="col-lg-2 q-pa-md q-gutter-md">
        <!-- <q-card style="height:100px"></q-card> -->
      </div>
    </div>
  </div>
</template>

<script>
// import Blog from "@/components/Blog";
export default {
  layout: "profileLayout",
  //   components: {
  //     Blog
  //   },
  data() {
    return {
      lists: [
        {
          head: "Bread",

          trans:
            "Barukh ata Adonai Eloheinu melekh ha’olam hamotzi lehem min ha’aretz.",
          eng:
            "Blessed are You, Adonai, Ruler of the universe, who brings forth bread from the earth.",
          heb:
            "בָּרוּךְ אַתָּה יְ‑יָ אֱ‑לֹהֵינוּ מֶלֶךְ הָעוֹלָם הַמּוֹצִיא לֶחֶם מִן הָאָרֶץ:"
        },

        {
          head: "Wine & Grape Juice",

          trans: "Barukh ata Adonai Eloheinu melekh ha’olam borei p’ri hagafen",
          eng:
            "Blessed are You, Adonai, Ruler of the universe, who creates the fruit of the vine.",
          heb:
            " בָּרוּךְ אַתָּה יְ‑יָ אֱ‑לֹהֵינוּ מֶלֶךְ הָעוֹלָם בּוֹרֵא פְּרִי הַגָּפֶן"
        },
        {
          head: "Fruit",

          trans:
            "Barukh ata Adonai Eloheinu melekh ha’olam borei p’ri ha’eitz.",
          eng:
            "Blessed are You, Adonai, Ruler of the universe, who creates the fruit of the tree.",
          heb:
            "בָּרוּךְ אַתָּה יְ‑יָ אֱ‑לֹהֵינוּ מֶלֶךְ הָעוֹלָם בּוֹרֵא פְּרִי הָעֵץ"
        },
        {
          head: "Vegetables",

          trans:
            "Barukh ata Adonai Eloheinu melekh ha’olam borei p’ri ha’adamah",
          eng:
            "Blessed are You, Adonai , Ruler of the universe, who creates the fruit of the ground.",

          heb:
            "בָּרוּךְ אַתָּה יְ‑יָ אֱ‑לֹהֵינוּ מֶלֶךְ הָעוֹלָם בּוֹרֵא פְּרִי הָאֲדָמָה:"
        },
        {
          head: "Grains",

          trans:
            "Barukh ata Adonai Eloheinu melekh ha’olam borei minei mezonot.",
          eng:
            "Blessed are You, Adonai, Ruler of the universe, who creates varieties of nourishment.",
          heb:
            "בָּרוּךְ אַתָּה יְ‑יָ אֱ‑לֹהֵינוּ מֶלֶךְ הָעוֹלָם בּוֹרֵא מִינֵי מְזוֹנוֹת"
        },
        {
          head:
            "Miscellaneous Food (meat, poultry, eggs, fish, dairy products, candy)",

          trans:
            "Barukh ata Adonai Eloheinu melekh ha’olam shehakol niyah bidvaro",
          eng:
            "Blessed are You,Adonai , Ruler of the universe, at whose word all came to be.",
          heb:
            "בָּרוּךְ אַתָּה יְ‑יָ אֱ‑לֹהֵינוּ מֶלֶךְ הָעוֹלָם שֶׁהַכֹּל נִהְיָה בִּדְבָרוֹ:"
        },
        {
          head: "Studying Torah",
          trans:
            "Barukh atah Adonai Eloheinu melekh ha’olam asher kid’shanu b’mitzvotav v’tzivanu la’asok b’divrei torah.",
          eng:
            " Blessed are You,Yhwh our Elohim , Ruler of the Universe, who has sanctified us with commandments, and commanded us to study words of Torah."
        },
        {
          head: "Hearing Good News",
          trans:
            "Barukh atah Adonai Eloheinu melekh ha’olam hatov v’ha’meitiv.",
          eng:
            "Blessed are You, Yhwh our Elohim, Ruler of the Universe, who is good and causes good.",
          heb:
            " בָּרוּךְ אַתָּה יהוה  אֱלהֵינוּ מֶלֶך–הָעולָם  הַטּוב וְהַמֵּטִיב."
        },
        {
          head: "candle",
          small: "The candles are lit before the blessing is recited",

          trans:
            "Baruch atah, Adonai Eloheinu, Melech haolam, asher kid'shanu b'mitzvotav, v'tzivanu l'hadlik ner shel Shabbat.",
          eng:
            "Blessed are you, Yhwh our Elohim, Sovereign of all, who hallows us with mitzvot, commanding us to kindle the light of Shabbat",
          heb:
            "ברוך אתה ה״ אלוהינו מלך העולם אשר קדשנו במצותיו וצונו להדליק נר של שבת"
        },
        {
          head: "Lighting Hanukkah Candles",
          small: "The First Blessing",

          trans:
            "Barukh atah Adonai Eloheinu melekh ha’olam asher kid’shanu b’mitzvotav v’tzivanu l’hadlik ner shel hanukkah",
          eng:
            "Blessed are You, Yhwh our Elohim, Ruler of the Universe, who has sanctified us with commandments, and commanded us to light Hanukkah candles.",
          heb:
            ".ברוך אתה יי, אלוהינו מלך העולם, אשר קידשנו במצוותיו, וציוונו להדליק נר של חנוכה"
        },
        {
          head: "The Second Blessing",

          trans:
            "Baruch atah Adonai, Eloheinu Melech ha’olam, she-asah nisim la’avoteinu bayamim hahem bazman hazeh.",
          eng:
            "Blessed are You, Yhwh our Elohim, Ruler of the universe,Who performed wondrous deeds for our ancestors in those ancient days at this season.",
          heb:
            ".ברוך אתה יי, אלוהינו מלך העולם, שעשה נסים לאבותינו, בימים ההם בזמן הזה"
        },
        {
          head: "The Third Blessing ",
          small: "(First Night Only)",

          trans:
            "Baruch atah Adonai, Elohenu Melech ha’olam, shehecheyanu, v’kiyimanu, v’higiyanu la’zman hazeh.",
          eng:
            "Blessed are You, Yhwh our Elohim, Ruler of the universe,Who has given us life and sustained us and enabled us to reach this season. ",
          heb:
            ".ברוך אתה יי, אלוהינו מלך העולם, שהחיינו, וקיימנו, והגענו לזמן הזה"
        },
        {
          head: "Washing Hand",
          trans:
            "Barukh atah Adonai Eloheinu melekh ha’olam asher kid’shanu b’mitzvotav v’tzivanu al netilat yadayim.",
          eng:
            " Blessed are You, Yhwh our Elohim, Ruler of the Universe, who has sanctified us with commandments, and commanded us to wash hands",
          heb:
            "בָּרוּךְ אַתָּה יְהוָה אֱלֹהֵינוּ מֶלֶךְ הָעוֹלָם, אֲשֶׁר קִדְּשָׁנוּ בְּמִצְווֹתָיו, וְצִוָּנוּ עַל נְטִילַת יָדָיִם"
        },
        {
          head: "Spices",
          trans:
            "Barukh ata Adonai Eloheinu melekh ha’olam borei minei v’samim",
          eng:
            "Blessed are You, Yhwh our Elohim, Ruler of the universe, who creates different kinds of fragrances",
          heb:
            "בָּרוּךְ אַתָּה יְיָ, אֱלֹהֵֽינוּ מֶֽלֶךְ הָעוֹלָם, בּוֹרֵא מִינֵי בְשָׂמִים."
        },
        {
          head: "Putting on a Tallit",
          trans:
            " Baruch atta Ado-noy Elo-hai-nu Melech ha'olam asher kid-sha-nu b'mitz-vo-tav v'tzi-vanu al mitzvat tzitzit.",
          eng:
            "Blessed are You, Yhwh our Elohim, Ruler of the Universe,who has sanctified us with commandments and commanded us to wrap ourselves in fringes.",
          heb:
            "בָּרוּך אַתָּה ה' אֱ-להֵינוּ מֶלֶך הָעוֹלָם אַשֶׁר קִדְשָנוּ בְּמִצְוֹתָיו וְצִוָנוּ עַל מִצְוַת צִיצִת"
        }
      ],
      items: []
    };
  },
  methods: {
    onScroll(e) {
      this.offsetTop = e.target.scrollTop;
    }
  },
  computed: {
    options() {
      return {
        duration: 300,
        offset: 0,
        easing: "easeInOutCubic"
      };
    }
  }
};
</script>

<style scoped>
.div {
  /* margin-top: 80px; */
}
.heb {
  font-size: 20px;
  text-align: right;
}
.text {
  font-size: 20px;

  line-height: 20px;
}
</style>
