<template>
  <div>
    <h3>please work</h3>
    <p>{{getCalender}}</p>

    <!--  -->
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6"></div>
      <div class="col-md-3"></div>
    </div>
    <!--  -->
  </div>
</template>

<script>
export default {
  data() {
    return {}
  },
  computed: {
    getCalender() {
      return this.$store.getters.getCalender
    },
  },
}
</script>
