<template>
  <div class="q-pa-md">
    <div class="container pa-6">
      <div class="row justify-center">
        <div class="mb-5 col-md-6">
          <vue-typed-js :strings="['Have a Product Idea?']">
            <h3 class="typing" :class="$q.screen.gt.sm ? 'text-h3' : 'text-h5 text-center'"></h3>
          </vue-typed-js>

          <!-- <h4>Have a Product Idea?</h4> -->
          Fill out the enquiry form and we'll get back to you as soon as possible.
        </div>
        <!-- TODO: Add validations -->
        <div class="q-gutter-sm col-md-6 col-xs-12">
          <q-input filled v-model="fullname" type="text" label="Fullname" />
          <q-input filled v-model="email" type="text" label="Enter your email address" />
          <q-input filled v-model="phone" type="number" label="Enter your mobile number" />
          <!-- TODO: add hint to subject -->
          <q-input filled v-model="subject" type="text" label="Enter a subject" />
          <q-input
            filled
            v-model="message"
            hint="Quickly summerize your idea and we will get back to you soon"
            type="textarea"
            label="Tell us about your project"
          />
          <br />
          <q-btn color="primary" icon="mdi-email" label="get in touch" @click="getInTouch" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  meta: {
    title: "Contact Us | Crudloop Web And Mobile"
  },

  data() {
    return {
      fullname: "",
      email: "",
      subject: "",
      phone: "",
      message: ""
    };
  },
  methods: {
    // TODO: Implement this
    getInTouch() {}
  }
};
</script>