<template>
  <div>
    <div
      :style="
        $q.dark.isActive
          ? 'background-color:black'
          : 'background-color: #f5f8fe;'
      "
    >
      <div class="row flex flex-center">
        <div class="col-md-1"></div>
        <div class="col-md-5 text-center q-pa-md">
          <br />
          <p class="text-uppercase q-mt-md">__it service__</p>
          <p class="text-h3">
            Grow Business In The World In A Minute
          </p>
          <br />
          <p class="text-body1">
            But I must explain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born and I will give you a complete
            account of the system, and expound the actual teachings. pleasure
            and praising pain was born and I will give you a complete account of
            the system, and expound the actual teachings.
          </p>
          &nbsp;
          <div class="row q-col-gutter-md">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <q-btn
                flat=""
                class="text-capitalize bg-primary text-white full-width"
                size="20px"
              >
                free seo service
              </q-btn>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
              <q-btn
                flat=""
                class="text-capitalize bg-white text-blue full-width"
                size="20px"
              >
                Get started now
              </q-btn>
            </div>
          </div>
        </div>
        <div class="col-md-6 gt-sm">
          <div class="row">
            <div class="col-md-7">
              <q-img
                class="imageOne"
                src="https://wp.quomodosoft.com/ithub/wp-content/uploads/2020/10/business__13-400x400.jpg"
              ></q-img>
            </div>
            <div class="col-md-5">
              <q-img
                class="imageTwo"
                src="https://wp.quomodosoft.com/ithub/wp-content/uploads/2020/10/business__4-400x400.jpg"
              ></q-img>
            </div>
          </div>
        </div>
      </div>
      <h3 class="gt-sm">.</h3>
    </div>
    <ColIndex></ColIndex>

    <!-- <Blog></Blog> -->
   
  </div>
</template>

<script>
import ColIndex from '../components/Colums/ColIndex'
// import Question from '../components/question'
// import Blog from '../components/Blog'
export default {
  components: {
    ColIndex,
    // Question,
    // Blog,
  },
  data() {
    return {}
  },
  methods: {
    test() {
      this.$router.push((name = 'toral'))
    },
  },
}
</script>

<style scoped>
.imageOne {
  position: relative;
  transform: translate(20%);
  height: 450px;
  width: 115%;
  border-radius: 0px 0px 0px 10px;
}
.imageTwo {
  position: relative;
  height: 400px;
  top: 150px;
  border-radius: 10px 0px 0px 10px;
  /* transform: translate(-50%); */
}
</style>
