<template>
  <div>
    <q-img
      src="../../statics/img/yom kippur.jpg"
      :style="$q.screen.lt.md ?'height:300px' :'height:600px'"
    ></q-img>
    <br>
    <br>
    <p class="text-center text-h4">Feast of Atonement / Yom Kippur</p>
    <!--  -->
    <div class="row q-pa-md" :class="$q.screen.lt.md ?'text-center' :''">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-body1">
        Yom Kippur—the Day of Atonement—is considered the most important holiday in the Jewish faith.
        Falling in the month of Tishrei (September or October in the Gregorian calendar),
        it marks the culmination of the 10 Days of Awe, a period of introspection and repentance
        that follows
        <router-link to="./Rosh-hashanah" class="text-red">Rosh Hashanah</router-link>, the Jewish New Year.
        According to tradition, it is onYom Kippur that Elohim decides each person’s
        fate, so Jews are encouraged to make amends and ask forgiveness for sins committed during the past year. The holiday is observed with a 25-hour fast and a special religious service. Yom Kippur and Rosh
        Hashanah are known as Judaism’s “High Holy Days.”
        <h6 class="text-center">History and Significance of Yom Kippur</h6>According to tradition, the first Yom Kippur took place after the Israelites’ exodus from Egypt and arrival at Mount Sinai, where Elohim gave Moses the Ten Commandments. Descending from the mountain, Moses caught his people worshipping a golden calf and shattered the sacred tablets in anger. Because the Israelites atoned for their idolatry, Elohim forgave their sins a
        nd offered Moses a second set of tablets.
        Jewish texts recount that during biblical times Yom Kippur was the only day on which the high priest could enter the inner sanctum of the Holy Temple in Jerusalem. There, he would perform a series of rituals and sprinkle blood from sacrificed animals on the Ark of the Covenant, which contained the Ten Commandments. Through this complex ceremony he made atonement and asked for Elohim forgiveness on behalf of all the people of Israel. The tradition is said to have continued until the destruction of the Second Temple by the Romans in 70 A.D; it was then adapted into a service for rabbis and their congregations in individual synagogues.
        According to tradition, Elohim judges all creatures during the 10 Days of Awe between Rosh Hashanah and Yom Kippur, deciding whether they will live or die in the coming year. Jewish law teaches that Elohim inscribes the names of the righteous in the “book of life” and condemns the wicked to death on Rosh Hashanah; people who fall between the two categories have until Yom Kippur to perform “teshuvah,” or repentance. As a result, observant Jews consider Yom Kippur and the days leading up to it a time for prayer, good deeds, reflecting on
        past mistakes and making amends with others.
        <h6 class="text-center">Observing Yom Kippur</h6>Yom Kippur is Judaism’s most sacred day of the year; it is sometimes referred to as the “Sabbath of Sabbaths.” For this reason, even Jews who do not observe other traditions refrain from work, which is forbidden during the holiday, and participate in religious services on Yom Kippur, causing synagogue attendance to soar. Some congregations rent out additional space to
        accommodate large numbers of worshippers.
        The Torah commands all Jewish adults (apart from the sick, the elderly and women who have just given birth) to abstain from eating and drinking between sundown on the evening before Yom Kippur and nightfall the next day. The fast is believed to cleanse the body and spirit, not to serve as a punishment. Religious Jews heed additional restrictions on bathing, washing, using cosmetics, wearing leather shoes and sexual relations. These prohibitions are intended to prevent worshippers from focusing on material possessions and superficial comforts.
        Because the High Holy Day prayer services include special liturgical texts, songs and customs, rabbis and their congregations read from a special prayer book known as the machzor during both Yom Kippur and Rosh Hashanah. Five distinct prayer services take place on Yom Kippur, the first on the eve of the holiday and the last before sunset on the following day. One of the most important prayers specific to Yom Kippur describes the atonement ritual performed by high priests during ancient times. The blowing of the shofar—a trumpet made from a ram’s horn—is an essential and emblematic part of both High Holy Days. On Yom Kippur, a single long blast is sounded at the end of the final
        service to mark the conclusion of the fast.
        <h6 class="text-center">Traditions and Symbols of Yom Kippur</h6>Pre-Yom Kippur feast: On the eve of Yom Kippur, families and friends gather for a bountiful feast that must be finished before sunset. The idea is to gather strength for 25 hours of fasting.
        Breaking of the fast: After the final Yom Kippur service, many people return home for a festive meal. It traditionally consists of breakfast-like comfort foods such as blintzes, noodle pudding and baked goods.
        Wearing white: It is customary for religious Jews to dress in white—a symbol of purity—on Yom Kippur. Some married men wear kittels, which are white burial shrouds, to signify repentance.
        Charity: Some Jews make donations or volunteer their time in the days
        leading up to Yom Kippur. This is seen as a way to atone and seek Elohim’s
        forgiveness. One ancient custom known as kapparot involves swinging a live chicken or
        bundle of coins over one’s head while reciting a prayer. The chicken or money is then given to the poor.
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "empty",
  data() {
    return {};
  }
};
</script>

 <style scoped>
.div {
  line-height: 30px;
}
.div1 {
  margin-top: 1px;
}
</style>
 