<template>
  <div>
    <q-img
      src="../../statics/img/veg.jpg"
      :style="$q.screen.lt.md ? 'height:300px' : 'height:650px'"
    ></q-img>
    &nbsp;
    <p class="text-h4 text-center">Shavuot / First Fruit</p>
    <p class="text-center">
      Shavuot commemorates the spring harvest and the giving of the Torah on
      Mount Sinai.
    </p>
    <div class="row justify-center">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
      <div
        class="col-xs-12 col-sm-12 col-md-8 col-lg-8 q-pa-md text-body1"
        :class="$q.screen.lt.md ? 'text-center' : ''"
      >
        <p>
          Shavuot , the “Feast of Weeks,” is celebrated seven weeks after
          Passover (Pesach). Since the counting of this period (sefirat ha-omer)
          begins on the second evening of Passover, Shavuot takes place exactly
          50 days after the (first) seder. Hence, following the Greek word for
          “fifty,” Shavuot is also referred to sometimes as Pentecost. Although
          its origins are to be found in an ancient grain harvest festival,
          Shavuot has long been identified with the giving of the Torah on Mount
          Sinai.
        </p>
        <h6 class="text-center">Shavuot History</h6>
        <p>
          Shavuot combines two major religious observances. First is the grain
          harvest of the early summer. Second is the giving of the Torah on
          Mount Sinai seven weeks after the exodus from Egypt. The first
          determines the ritual for the holiday, which was one of the three
          pilgrimage festivals of ancient Israel, when Israelite males were
          commanded to appear before God in Jerusalem, bringing offerings of the
          first fruits of their harvest. The second determines the significance
          of the holiday for Judaism, tying it in with the seminal event of
          Jewish religious memory, namely the entering into a covenant between
          God and Israel, exemplified by Israel’s assumption of Divine law.
        </p>
        <h6 class="text-center">Shavuot at Home</h6>
        <p>
          Since Shavuot is an ancient pilgrimage holiday, it is not surprising
          that its ritual focuses on the community. Nonetheless, there are a
          number of customs associated with personal practice. Chief among them
          is the eating of dairy products on Shavuot. Although the reasons for
          this custom are not completely clear, it has become traditional to eat
          milk and cheese products as part of the celebration of Shavuot.
        </p>
        <h6 class="text-center">In the Community</h6>
        <p>
          Much of the observance of the holiday centers on the synagogue and its
          rituals. The special readings for the holiday include medieval poems
          (piyyutim) and the Book of Ruth. A number of reasons are given for the
          inclusion of the latter. Among them are that the book takes place at
          the time of the barley harvest, that Ruth’s assumption of Naomi’s
          religion reflects the Israelites’ acceptance of the Torah at Sinai,
          and that King David, who is alleged to have died at this time of year
          according to rabbinic tradition, is mentioned at the end of Ruth.
          Another tradition is to participate in a Tikkun Leil Shavuot, an
          all-night study session marking the holiday. And finally, Shavuot is
          one of the holidays on which both Hallel, the Psalms of Praise, is
          recited and Yizkor, the memorial service, is observed.
        </p>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
  </div>
</template>
