<template>
  <div>
    <q-img
      src="../../statics/img/hannukah-3856149__340.jpg"
      :style="$q.screen.lt.md ? 'height:300px' : 'height:600px'"
    ></q-img>
    <p class="text-center text-h4">Hanukkah / feast of light</p>

    <div class="row justify-center q-pa-md">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 text-center">
        <p class="text-body1">
          Hanukkah, a joyous celebration of family, freedom, and light, is a
          holiday primarily celebrated at home, beginning on the 25th day of the
          Hebrew month of Kislev (usually falling in December) and lasting for
          eight days. At what is the coldest, darkest time of the year for many
          people, we celebrate by bringing light and warmth into our homes, into
          our communities and into the world around us. In the Talmud, the
          rabbis taught that the mitzvah of Hanukkah, the commandment at the
          heart of the observance of the holiday, is a “candle for each man and
          his household” (the modern Reform understanding is that this text
          refers to everyone, not just men). So the actual mitzvah, or
          commandment, of Hanukkah is to kindle the Hanukkah lights at home,
          ideally with family and friends!
        </p>
        <p class="text-body1">
          <router-link to="./hanukah_blessing" style="color: red;" flat>
            blessing
          </router-link>
          are recited when lighting the candles, which are held in a
          nine-branched menorah (also called a hanukkiyah). In some families,
          members of the household, including the children, light their own
          Hanukkah menorah. Many families use the eight-day period of Hanukkah
          to spend time together each night.
        </p>
        <p class="text-center text-h4">Ritual Objects</p>
        <p class="text-body1">
          Ritual objects associated with Hanukkah include the menorah and the
          dreidel.
          <br />
          <small style="font-size: 20px;">Menorah</small>
          is a Hebrew word meaning “candelabrum” and sometimes refers to the
          nine-branched ceremonial lamp in which the Hanukkah candles are placed
          and blessed each night of the holiday. The nine branches include eight
          branches, one for each day of the holiday, and one branch for the
          shamash (helper) candle that is used to light the other candles. In
          ancient times, oil was used in the menorah. Over time, candles were
          substituted for oil. The Hanukkah menorah can also be called a
          hanukkiyah.
          <br />
          <small style="font-size: 20px;">The word dreidel</small>
          derives from a German word meaning “spinning top,” and is the toy used
          in a Hanukkah game adapted from an old German gambling game.
          (Historically, Hanukkah was one of the few times of the year when
          rabbis permitted games of chance.) The four sides of the top bear four
          Hebrew letters: nun, gimel, hei, and shin. Players begin by putting
          into a central pot or “kitty” a certain number of coins, foil-wrapped
          chocolate disks known as gelt (Yiddish term for money), nuts, buttons
          or other small objects.
        </p>
        <p class="text-center text-h4">Food</p>

        <p class="text-body1">
          Latkes (potato pancakes) and sufganiyot (jelly doughnuts)—foods cooked
          in oil—are customarily eaten during Hanukkah and serve as a symbol of
          the legend of the jar of oil that lasted for eight days. In Israel,
          pastry shops specialize in creating delicious and creative sufganiyot.
          Also popular are bimuelos (fried dough puffs), sfenj (North African
          yeast doughnuts), and keftes de prasas (fried leek patties).
        </p>
        <p class="text-center text-h4">Synagogue Rituals</p>
        <p class="text-body1">
          Inclusions in our worship services held during Hanukkah are the
          additions of the Al HaNisim (“for the miracles”) passage in the Amidah
          (the central prayer in worship, recited while standing) and in Birkat
          HaMazon (the blessing after meals). In some congregations, on the
          Shabbat during Hanukkah families are invited to bring their own
          hanukkiyot to Friday night services and everyone lights them together
          in community. In addition, we read special Torah portions during the
          holiday. The Torah reading for each day of Hanukkah is taken from
          <small style="color: red;">Numbers 6:22-8:4,</small>
          which recounts the dedication of the Mishkan (temporary, moveable
          place of worship) by the Israelites in the desert. On Shabbat during
          Hanukkah, we read the regular weekly portion. During Hanukkah, the
          haftarah readings (additional selections from the prophetic books) are
          <small style="color: red;">
            Zechariah 4:1-7 and I Kings 7:40-50.
          </small>
        </p>
        <p class="text-center text-h4">Preparing for the Holiday</p>
        <p class="text-body1">
          To prepare to celebrate Hanukkah at home, you will need candles and a
          Hanukkah menorah with nine candle holders (also called a hanukkiyah),
          or, as is the custom in some families, one menorah for each member of
          the family. (For those living in places where open flames aren’t
          allowed or are unsafe, or those who are traveling, electric menorahs
          are widely available.) You also can decide together as a family how to
          celebrate each night of the holiday – whether with activities,
          cooking, or by bringing a social justice element to the holiday. Many
          families like to exchange gifts during Hanukkah, and some families
          also use the opportunity to give charitable gifts. Designating the
          sixth evening as the Ner Shel Tzedakah (“Candle of Righteousness”)
          offers an opportunity to learn about poverty or other social justice
          issues and to make a donation or engage in other activities related to
          a cause that is important to you and/or your family. This social
          justice gift guide offers suggestions that emphasize tikkun olam,
          repair of our broken world.
        </p>
        <p class="text-center text-h4">Lighting the Hanukkah Candles</p>
        <p class="text-body1">
          From one Hanukkah to the next, it can be a challenge to remember in
          which direction to add candles and in which direction to light them.
          Here’s what you need to know: When the menorah is facing you, the
          candle for the first night is placed in the right-most holder of the
          eight-branched menorah and the shamash (helper candle) is placed in
          its holder, which is raised or otherwise distinguished from the rest
          of the candleholders. Anyone may chant or recite the blessings by
          lighting and holding the shamash, reciting the blessings, and then
          using the shamash to light the candles (from left to right, so that
          the kindling begins with the newest light). Two blessings are chanted
          or recited every night of Hanukkah. The first is a blessing over the
          candles themselves. The second blessing expresses thanks for the
          miracle of deliverance. A third blessing – the Shehecheyanu prayer,
          marking all joyous occasions in Jewish life – is chanted or recited
          only on the first night. On each successive night, an additional
          candle is placed to the immediate left of the previous night’s candle,
          and the candles are lit from left to right, so the kindling begins
          with the newest light. Since these lights are holy, we aren’t supposed
          to make practical use of them (e.g., using them to see or read by, or
          lighting other candles with them); therefore, we use the shamash to
          light the ones that mark each night of the holiday.
        </p>
        <p class="text-center text-h4">Hanukkah Traditions</p>
        <p class="text-body1">
          The Hanukkah celebration revolves around the kindling of a
          nine-branched menorah, known in Hebrew as the hanukiah. On each of the
          holiday’s eight nights, another candle is added to the menorah after
          sundown; the ninth candle, called the shamash (“helper”), is used to
          light the others. Jews typically recite blessings during this ritual
          and display the menorah prominently in a window as a reminder to
          others of the miracle that inspired the holiday. In another allusion
          to the Hanukkah miracle, traditional Hanukkah foods are fried in oil.
          Potato pancakes (known as latkes) and jam-filled donuts (sufganiyot)
          are particularly popular in many Jewish households. Other Hanukkah
          customs include playing with four-sided spinning tops called dreidels
          and exchanging gifts. In recent decades, particularly in North
          America, Hanukkah has exp loded into a major commercial phenomenon,
          largely because it falls near or overlaps with Christmas. From a
          religious perspective, however, it remains a relatively minor holiday
          that places no restrictions on w orking, attending school or other
          activities.
        </p>
        <!-- <h6 class="text-orange text-center">Shalom !!!</h6> -->
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'empty',
  data() {
    return {
      // img: require("@/assets/img/hanukkah.jpg")
    }
  },
}
</script>

<style scoped>
.div {
  line-height: 30px;
}
.div1 {
  margin-top: 1px;
}
.div2 {
  line-height: 30px;
}
</style>
