<template>
  <div>
    <q-img
      src="../../statics/img/hanukkahchild.jpg"
      :style="$q.screen.lt.md ?'height:300px' :'height:600px'"
    ></q-img>
    <div class="row justify-center">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-sm-12 col-xs-12 col-md-8 col-lg-7 text-center q-pa-md text-body1">
        <h6 style="color:red" class="text-center">Hanukkah Blessing</h6>
        <br />
        <p>
          Candles are added to the hanukkiyah (menorah) from right to left but are kindled
          from left to right. The newest candle is lit first. (On the Shabbat of Hanukkah, kindle
          the Hanukkah lights first and then the Shabbat candles.)
        </p>
        <br />
        <p>
          Light the shamash (the helper candle) first, using it to kindle the
          rest of the Hanukkah lights. As you do, say or sing:
        </p>
        <q-img src="../../statics/img/firsthanukahBless.jpg" :style="$q.screen.lt.md ?'' :''"></q-img>
        <br />
        <br />
        <p>
          Baruch atah, Adonai Eloheinu, Melech haolam, asher kid’shanu b’mitzvotav v’tsivanu
          l’hadlik ner shel Hanukkah.
        </p>
        <p>
          Blessed are You, Adonai our Elohim, Sovereign of all, who hallows us with mitzvot,
          commanding us to kindle the Hanukkah lights.
        </p>
        <br />
        <q-img src="../../statics/img/sechanukablessing.png" :style="$q.screen.lt.md ?'' :''"></q-img>
        <br />
        <br />
        <p>
          Baruch atah, Adonai Eloheinu, Melech haolam, she-asah nisim laavoteinu v’imoteinu bayamim
          hahaeim baz’man hazeh
        </p>
        <p>
          Blessed are You, Adonai our Elohim, Sovereign of all, who performed wonderous deeds for our ancestors in days of
          old at this season.
        </p>
        <br />
        <h6 class="text-orange">For first night only:</h6>
        <br />
        <q-img src="../../statics/img/3rdhanukahblessing.jpg" :style="$q.screen.lt.md ?'' :''"></q-img>
        <br />
        <br />
        <p>Baruch atah, Adonai Eloheinu, Melech haolam, shehecheyanu v'kiy'manu v'higiyanu laz'man hazeh.</p>
        <p>
          Blessed are You, Adonai our Elohim, Sovereign of all, who has kept us alive,
          sustained us, and brought us to this season.
        </p>
        <br />
        <h6 class="text-orange">Hanerot Halalu</h6>
        <p>
          We kindle these lights because of the wondrous deliverance You performed
          for our ancestors. During these eight days of Hanukkah, these lights are sacred; we are not to use them but only to behold them, so that their glow may rouse
          us to give thanks for Your wondrous acts of deliverance.
        </p>
        <!-- <h6 class="text-orange">Shalom</h6> -->
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      // img1: require("@/assets/img/hanukkahchild.jpg"),
      // img2: require("@/assets/img/firsthanukahBless.jpg"),
      // img3: require("@/assets/img/sechanukablessing.png"),
      // img4: require("@/assets/img/3rdhanukahblessing.jpg")
    };
  }
};
</script>
<style scoped>
</style>
