<template>
  <div class="text-center">
    <q-img
      src="../../statics/img/holiday.jpg"
      style="height: 500px;"
      :style="$q.screen.lt.md ? 'height:300px' : 'height:650px'"
    ></q-img>

    <p  class="text-grey q-pa-sm text-body1">
      The Jewish calendar affords us with opportunities throughout the year to
      celebrate,
      <br />
      commemorate, and reflect deeply on the many layers of our lives.
    </p>
    <p class="text-h4">This is jewish major holidays</p>
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-12">
        <div class="row justify-center q-gutter-md">
          <div
            class="col-lg-3 col-md-4 col-sm-12 col-xs-12"
            v-for="(holiday, index) in holidays"
            :key="index"
          >
            <router-link :to="holiday.to" style="text-decoration: none;">
              <q-card
                class="q-ma-md"
                flat
                :class="$q.dark.isActive ? 'text-white' : 'bg-grey-2'"
              >
                <q-list class="q-pa-sm">
                  <q-item>
                    <q-item-section thumbnail>
                      <img :src="holiday.img" />
                    </q-item-section>
                    <q-item-section>
                      <q-item-label
                        :class="$q.dark.isActive ? 'text-white' : 'text-black'"
                      >
                        {{ holiday.title }}
                      </q-item-label>

                      <q-item-label caption lines="2">
                        {{ holiday.content }}
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-card>
            </router-link>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <br />
    <br />
  </div>
</template>

<script>
export default {
  data() {
    return {
      holidays: [
        {
          img: '../statics/img/Simchat-torah.jpg',
          title: 'Simchat Torah',
          content:
            'Following the seven joyous days of Sukkot, comes the happy holiday known as Shemini Atzeret/Simchat Torah.',
          to: './Simchat-torah',
        },
        {
          img: 'statics/img/yom kippur.jpg',
          title: ' Yom Kippur ',
          content:
            'Yom Kippur—the Day of Atonement—is considered the most important holiday in the Jewish faith',
          to: './atonement',
        },
        {
          img: 'statics/img/hanukkah-2197684_960_720.jpg',
          title: 'Feast of Hanukah',
          content:
            'Hanukkah, a joyous celebration of family, freedom, and light, is a holiday primarily celebrated at home,',
          to: './hanukah',
        },
        {
          img: 'statics/img/passover.jpg',
          title: 'Feast of Pesach',
          content:
            'Passover (in Hebrew, Pesach) commemorates the exodus of the Jews from slavery in Egypt. ',
          to: './passover',
        },

        {
          img: 'statics/img/rosh.jpeg',
          title: 'Rosh Hashanah',
          content:
            ' Rosh Hashanah, the Jewish New Year, is one of Judaism’s holiest days. Meaning',
          to: './Rosh-hashanah',
        },
        {
          img: 'statics/img/purim.jpg',
          title: 'Feast of Purim',
          content:
            'The jolly festival of Purim is celebrated every year on the 14th of the Hebrew month of',
          to: './purim',
        },
        {
          img: 'statics/img/Sukkah.jpg',
          title: 'Feast of Tabanacle',
          content:
            ' The sukkah symbolizes the frail huts in which the Israelites lived during their 40 years of wandering in the desert',
          to: './terbanacle',
        },
        {
          img: 'statics/img/shabbathe.jpg',
          title: ' Shabbath',
          content:
            '  Shabbat is observed on the seventh day of the week in fulfillment of the biblical',
          to: './shabbath',
        },
        {
          img: 'statics/img/fruit.jpg',
          title: 'Shavuot',
          content:
            'Shavuot commemorates the spring harvest and the giving of the Torah on Mount Sinai.',
          to: './first-fruit',
        },
      ],
    }
  },
}
</script>
