<template>
  <div class="div1">
    <v-img :src="img11" height="200">
      <v-card color="transparent" flat pb-4>
        <v-card-text class="text-xs-center" style="font-size:30px; color:white">Rosh Hashanah</v-card-text>
      </v-card>
    </v-img>
    <!--  -->

    <p style="color:red" class="text-xs-center">
      Rosh Hashanah occurs on the first and second days of the Jewish month of
      <a
        href="http://www.jewfaq.org/defs/tishri.htm"
      >Tishri</a>.
    </p>

    <div class="text-xs-center ma-3 text">
      The name "Rosh Hashanah" means, literally, "head of the year" or "first of the year." Rosh Hashanah
      is commonly known as the Jewish New Year. This name is somewhat deceptive, because there is little
      similarity between Rosh Hashanah, one of the holiest days of the year,
      and the American midnight drinking bash and daytime football game.
      There is, however, one important similarity between the Jewish New Year and the
      American one: Many Americans use the New Year as a time to plan a better life, making "resolutions." Likewise,
      the Jewish New Year is a time to begin introspection, looking back at the mistakes of the past year and planning
      the changes to make in the new year,
      continuing through the
      Days of Awe and
      Yom Kippur. You may notice that the Bible speaks of Rosh Hashanah as occurring on the first day of
      the seventh month. The first month of the Jewish calendar is Nissan, occurring in March and April. Why, then, does t
      he Jewish "new year" occur in Tishri, the seventh month?
      Judaism has several different "new years," a concept which may seem strange at first,
      but think of it this way: the American "new year" starts in January, but the new "school year"
      starts in September, and many businesses have "fiscal years" that start at various times of the year.
      In Judaism, Nissan 1 is the new year for the purpose of counting the reign of kings and months on the
      calendar, Elul 1 (in August) is the new year for the tithing of animals, Shevat 15 (in February) is the new
      year for trees (determining when first fruits can be eaten, etc.), and Tishri 1 (Rosh Hashanah) is
      the new year for years (when we increase the year number. Sabbatical and Jubilee years begin at this time).
      <h1 style>Traditions</h1>(if using wine or grape juice)
      The name "Rosh Hashanah" is not used in the Bible to discuss this holiday. The Bible refers to the holiday as Yom Ha-Zikkaron (the day of remembrance) or Yom Teruah (the day of the sounding of the shofar). The holiday is instituted in Leviticus 23:24-25.
      Shofar:
      <div>
        <label style="color:red">
          <button color="red" @click.prevent="playSound('@/assets/music/shofar.mp3')"></button>
          click to hear the shofar
        </label>
      </div>The shofar is a ram's horn which is blown somewhat like a trumpet. In fact, many English bibles translate the word "shofar" as "trumpet." One of the most important observances of this holiday is hearing the sounding of the shofar in the synagogue. A total of 100 notes are sounded each day. There are four different types of shofar notes: tekiah, a 3 second sustained note; shevarim, three 1-second notes rising in tone, teruah, a series of short, staccato notes extending over a period of about 3 seconds; and tekiah gedolah (literally, "big tekiah"), the final blast in a set, which lasts (I think) 10 seconds minimum. Click the shofar above to hear an approximation of the sound of Tekiah Shevarim-Teruah Tekiah. The Bible gives no specific reason for this practice. One that has been suggested is that the shofar's sound is a call to repentance. The shofar is not blown if the holiday falls on Shabbat.
      No work is permitted on Rosh Hashanah. Much of the day is spent in synagogue, where the regular daily liturgy is somewhat expanded. In fact, there is a special prayerbook called the machzor used for Rosh Hashanah and Yom Kippur because of the extensive liturgical changes for these holidays.
      Another popular observance during this holiday is eating apples dipped in honey, a symbol of our wish for a sweet new year. This was the second Jewish religious practice I was ever exposed to (the first one: lighting Chanukkah candles), and I highly recommend it. It's yummy. We also dip bread in honey (instead of the usual practice of sprinkling salt on it) at this time of year for the same reason.
      Another popular practice of the holiday is Tashlikh ("casting off"). We walk to flowing water, such as a creek or river, and empty our pockets into the river, symbolically casting off our sins. Small pieces of bread are commonly put in the pocket to cast off. This practice is not discussed in the Bible, but is a long-standing custom. Tashlikh is normally observed on the afternoon of the first day, before afternoon services. When the first day occurs on Shabbat, many synagogues observe Tashlikh on Sunday afternoon, to avoid carrying (the bread) on Shabbat.
      Religious services for the holiday focus on the concept of G-d's sovereignty.
      The common greeting at this time is L'shanah tovah ("for a good year"). This is a shortening of "L'shanah tovah tikatev v'taihatem" (or to women, "L'shanah tovah tikatevi v'taihatemi"), which means "May you be inscribed and sealed for a good year." More on that concept at Days of Awe.
    </div>
  </div>
</template>
<script>
export default {
  layout: "empty",
  data() {
    return {
      img11: require("@/assets/img/rosh hannah.jpg")
    };
  },

  methods: {
    playSound(sound) {
      if (sound) {
        var audio = new Audio(sound);
        audio.play();
      }
    }
  }
};
</script>

<style>
.div {
  height: 110px;
  width: 300px;
  border: 3px solid green;
}
.text {
  line-height: 30px;
}
.div1 {
  margin-top: 1px;
}
</style>
