<template>
  <div>
    <q-img
      src="../../statics/img/passover.jpg"
      :style="$q.screen.lt.md ? 'height:300px' : 'height:600px'"
    ></q-img>
    <!-- <br /> -->
    <div class="row justify-center q-pa-md">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 text-center">
        <p :class="$q.screen.lt.md ? 'text-h5' : 'text-h3'">
          What is Passover/ pesach ראה
        </p>

        <p class="text-body1">
          Passover (in Hebrew, Pesach) commemorates the exodus of the Jews from
          slavery in Egypt. The holiday originated in the Torah, where the word
          pesach refers to the ancient Passover sacrifice (known as the Paschal
          Lamb); it is also said to refer to the idea that Elohim “passed over”
          (pasach) the houses of the Jews during the 10th plague on the
          Egyptians, the slaying of the first born. The holiday is ultimately a
          celebration of freedom, and the story of the exodus from Egypt is a
          powerful metaphor that is appreciated by Jews.
        </p>
        <p class="text-h4">How is Passover celebrated?</p>
        <p class="text-body1">
          Passover is observed for seven days in Israel and eight days in the
          Diaspora. The main event of the Passover holiday is the seder
          (literally, “order”), a festive meal in which the haggadah (story of
          the exodus and related writings) is recited in a set order. During the
          entire duration of the holiday, it is forbidden to eat leavened food
          products (such as bread, pasta, etc.). The reason for this is that
          Jewish tradition states that in their haste to escape from Egypt the
          Jews did not have enough time to wait for bread to rise. Instead, they
          ate matzah, unleavened bread. Part of the Passover seder includes
          hiding the afikoman (half of a matzah that is kept between two other
          matzahs during the seder and later hidden). Children search for the
          afikoman and usually receive a prize for finding it. For many Jews,
          the process of preparing for Passover involves cleaning every corner
          of the home and removing all leavened products, known as chametz. Some
          Jews practice biur chametz (burning chametz). Others keep all the
          chametz in a separate area of the house where it won’t be seen, and
          symbolically sell the chametz. This can be done through a local
          synagogue, and chametz is usually sold for a nominal amount of money
          (often a few coins). Many Jews have special Passover dishes that are
          only used once a year during the holiday.
        </p>
        <p class="text-h4">What kinds of foods are eaten on Passover?</p>
        <p class="text-body1">
          Passover foods are unique in that, beyond the usual rules of keeping
          kosher, there are special rules for preparing food that is kosher for
          Passover. Of course, matzah is a central part of the seder and of
          Passover meals throughout the duration of the holiday. Symbolic foods
          eaten at the seder are: maror (bitter herbs, usually horseradish, a
          reminder of the bitterness of slavery), salt water (symbolizing the
          tears of the slaves), charoset (sweet paste made of fruit and nuts,
          symbolizing the mortar the slaves used to build the Egyptian
          pyramids), zeroah (shank bone, representing the Passover sacrifice),
          beitzah (hard-boiled egg, symbolic of life and birth associated with
          the spring season), and karpas (a leafy green vegetable, usually a
          piece of lettuce, symbolizing hope and redemption). It is required to
          drink four cups of wine throughout the seder.
        </p>
        <router-link to="./passover-rules" class="text-body1">Rules of passover</router-link>
        <p class="text-h5">What is the proper greeting for Passover?</p>
        <p class="text-body1">
          The greeting for Passover is simply
          <small class="p">“Chag Sameach!”</small>
          (Happy Holiday).
        </p>
        <p class="text-h5">When is Passover?</p>
        <p class="text-body1">
          Passover begins on the 15th of Nisan and continues for seven days (in
          Israel) or eight days (in the Diaspora).
        </p>
      </div>

      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'empty',
  data() {
    return {
      // img12: require("@/assets/img/gettyimages-505291716-1024x1024.jpg")
    }
  },
}
</script>
<style scoped>
.div1 {
  margin-top: 1px;
}
.div {
  line-height: 30px;
}
.p {
  font-size: 15px;
  color: red;
}
</style>
