<template>
  <div>
    <q-img src="../../statics/img/purim.jpg" :style="$q.screen.lt.md ?'height:300px' :'height:600px'">></q-img>
&nbsp;
    <p class="pl-3 text-center text-h4">what is purim / פורים</p>
    <div class="row justify-center">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
      <div
        class="col-xs-12 col-sm-12 col-xs-12 col-md-8 col-lg-8 q-pa-md text-body1"
        :class="$q.screen.lt.md ?'text-center' :''"
      >
        <p>
          The jolly festival of Purim is celebrated every year on the 14th of the Hebrew month of
          <q-btn flat @click="Adar = true" class="text-red text-capitalize">Adar</q-btn>(late winter/early spring)
          It commemorates the salvation of the Jewish people in ancient Persia from Haman’s plot “to destroy, kill and annihilate all the Jews, young and old, infants and women, in a single day,” as recorded in the Megillah (book of Esther).
        </p>
        <h6 class="text-center">How We Celebrate Purim</h6>Though we dress up in holiday finery, Purim doesn’t feature holiday work restrictions. Nonetheless, all the better if you can take the day off from work and focus on the holiday and its four special mitzvahs:
        <h6 class="text-center">1.Hear the Megillah</h6>Head to your synagogue to hear the whole Megillah. The Megillah, a.k.a. “The Book of Esther,” is the scroll that tells the Purim story. Listen to the public reading twice: once on Purim night, and again on Purim day.
        Pay attention—it is crucial to hear every word.
        When Haman’s name is mentioned (Chabad custom is that this is only when it is accompanied with a title), you can twirl graggers (noisemakers) or stamp your feet to eradicate his evil name. Tell your kids that Purim is the only time when it’s a mitzvah to make noise!
        The Megillah is read from a handwritten parchment scroll, using an age-old tune. Contact your local Chabad rabbi if for any reason you can’t make it to your synagogue for the Megillah reading. He’ll do his best to send a Megillah reader to your home or office.
        <h6 class="text-center">2. Give to the Needy (Matanot LaEvyonim)</h6>One of Purim’s primary themes is Jewish unity. Haman tried to kill us all, we were all in danger together, so we celebrate together too. Hence, on Purim day we place special emphasis on caring for the less fortunate.
        Give money or food to at least two needy people during the daylight hours of Purim, March 21. In case you can’t find any needy people, your synagogue will likely be collecting money for this purpose. At least, place two coins in a charity box earmarked for the poor.
        On Purim, we give a donation to whoever asks; we don’t verify his or her bank balance first.
        As with the other mitzvahs of Purim, even small children should fulfill this mitzvah.
        <h6 class="text-center">3. Send Food Gifts to Friends (Mishloach Manot)</h6>On Purim we emphasize the importance of friendship and community by sending gifts of food to friends.
        On Purim day, March 21, send a package containing at least two different ready-to-eat food items and/or beverages (e.g., pastry, fruit, beverage) to at least one Jewish acquaintance during the daylight hours of Purim. Men send to men, and women to women.
        It is preferable that the gifts be delivered via a third party. Children, in addition to sending their own gifts of food to their friends, make enthusiastic messengers.
        <h6 class="text-center">4. Feast!</h6>During the course of Purim day, March 21, gather your family, maybe invite a guest or two, and celebrate with a festive Purim meal. Traditionally, this meal begins before sundown and lasts well into the evening.
        The table should be festively bedecked with a nice tablecloth and candles. Wash for bread or challah, and enjoy a meal featuring meat, wine and plenty of Jewish songs, words of Torah and joyous Purim spirit. Sing, drink, laugh, have fun together.
        Note: When Purim falls on a Friday, out of deference to the approaching Shabbat, we start the meal earlier, ideally before midday.
        <h6 class="text-center">4. Special Prayers</h6>On Purim, we include the brief V’al Hanissim section in all the day’s prayers, as well as in the day’s Grace after Meals. This prayer describes the Purim story and thanks G‑d for the “miracles, redemptions, mighty deeds, saving acts and wonders” that He wrought for our ancestors on this day many years ago.
        In the morning service there is a special Torah reading (Exodus 17:8–16), describing the battle Joshua waged against Amalek—Haman’s ancestral nation—almost one thousand years before the Purim events unfolded.
        <h6 class="text-center">5. Masquerade!</h6>On Purim, children—and some adventurous adults too—traditionally dress in costumes, an allusion to G‑d’s hand in the Purim miracle, which was disguised by natural events. Make sure your children masquerade as good, cheerful characters, such as Mordechai and Esther.
        Dress up your kids before taking them to the synagogue for the Megillah reading. Many synagogues have a masquerade party, along with prizes for the children, during or after the Megillah reading.
        <h6 class="text-center">
          Before Purim: Torah Reading of
          <q-btn flat @click="Zachor = true" class="text-red text-h6 text-capitalize">Zachor</q-btn>
        </h6>
        <p>
          On the Shabbat before Purim (this year, March 7), a special reading is held in the
          synagogue. We read the Torah section called Zachor (“Remember”), in which we are
          enjoined to remember the deeds of (the nation of)
          Amalek (Haman’s ancestor), who sought to destroy the Jewish people.
        </p>

        <h6 class="text-center">
          Before Purim: The
          <q-btn
            flat
            @click="FastofEsther = true"
            class="text-red text-h6 text-capitalize"
          >Fast of Esther</q-btn>
        </h6>
        <p>To commemorate the prayer and fasting that the Jewish people held during the Purim story, we fast on the day before Purim.</p>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    </div>

    <!-- Dialogs -->
    <q-dialog v-model="Adar">
      <q-card>
        <q-card-section>
          <div class="text-h6">Adar</div>
        </q-card-section>

        <q-card-section
          class="q-pt-none"
        >twelfth month in the Jewish calendar; the month in which Purim is celebrated</q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!--  -->
    <q-dialog v-model="Zachor">
      <q-card>
        <q-card-section>
          <div class="text-h6">Zachor</div>
        </q-card-section>

        <q-card-section
          class="q-pt-none"
        >lit. "remember"); the obligation to remember Amalek’s attack on the young Jewish nation; commemorated by the reading of the passage of this name on the Sabbath preceding Purim.</q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!--  -->
    <q-dialog v-model="FastofEsther">
      <q-card>
        <q-card-section>
          <div class="text-h6">Fast of Esther</div>
        </q-card-section>

        <q-card-section
          class="q-pt-none"
        >fast observed on the thirteenth of Adar in commemoration of Queen Esther’s fast at the time of the miracle of Purim</q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      Adar: false,
      FastofEsther: false,
      Zachor: false
    };
  }
};
</script>