<template>
  <div>
    <q-img src="../../statics/img/rosh.jpeg" :style="$q.screen.lt.md ?'height:300px' :'height:500px'"></q-img>
    &nbsp;
    <p class="text-center text-h4 ">Rosh Hashanah / New Year</p>
    <div class="row justify-center">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
      <div
        class="col-xs-12 col-sm-12 col-md-8 col-lg-8 q-pa-md text-body1"
        :class="$q.screen.lt.md ?'text-center' :''"
      >
        <p>
          Rosh Hashanah, the Jewish New Year, is one of Judaism’s holiest days.
          Meaning “head of the year” or “first of the year,” the festival begins
          on the first day of Tishrei, the seventh month of the Hebrew calendar,
          which falls during September or October. Rosh Hashanah commemorates
          the creation of the world and marks the beginning of the Days of Awe,
          a 10-day period of introspection and repentance that culminates in the
          <router-link to="./atonement" class="text-red">Yom Kippur</router-link>holiday, also known as the Day of Atonement.
          <br />Rosh Hashanah and Yom Kippur are the two “High Holy Days” in the Jewish religion.
          Rosh Hashanah customs include sounding the shofar (a cleaned-out ram's horn), as
          prescribed in the Torah, following the prescription of the Hebrew Bible to "raise
          a noise" on Yom Teruah. Its rabbinical customs include attending synagogue services
          and reciting special liturgy about teshuva, as well as enjoying festive meals. Eating
          symbolic foods is now a tradition, such as apples dipped in honey, hoping to evoke a sweet new year.
        </p>

        <h6 class="text-center">The Rosh Hashanah Prayers: Malchiyot, Zichronot and Shofrot</h6>
        <p>
          Other than the mitzvah of blowing the shofar on Rosh Hashanah, perhaps the most important observance
          of the day is found in the Rosh Hashanah Musaf prayers.
          Ordinarily, the Musaf prayer contains seven blessings: the standard three opening and three closing blessings
          of the Amidah, and one middle blessing called Kedushat Hayom (Sanctification of the Day), which reflects the
          unique holiness of the day
          and recounts the special offerings brought in the Temple. The Rosh Hashanah Musaf prayer contains nine blessings,
          making it the longest Musaf prayer (in terms of blessings) of the entire year.
          The standard six opening and closing blessings frame three unique blessings known as Malchiyot
          (Sovereignty), Zichronot (Remembrances) and Shofrot (Sounding of the Shofar), corresponding to
          three of the themes of the day. (The blessing of Kedushat Hayomis merged together with Malchiyot,
          since they share many of the same themes.1)
        </p>
        <h6 class="text-center">Why 9 Blessings?</h6>
        <p>
          The Talmud tells us that these nine blessings correspond to the nine times that Channah the prophetess mentioned G‑d’s
          name in the prayer of gratitude she said on Rosh Hashanah following the birth of her son, the future prophet Samuel.2
        </p>
        <h6 class="text-center">Blowing of the Shofar</h6>
        <p>
          The Mishnah tells us that after each of the blessings Malchiyot, Zichronot and Shofrot are recited, we blow the shofar.3 This is in addition to the stand-alone shofar-blowing that takes place after the reading of the Torah.
          Note that the shofar is only blown when praying communally. In fact, the Ashkenazic custom is to only blow the shofar during the chazzan’s repetition of the Amidah, while the Chassidic and Sephardic custom is to blow during the silent Amidah as well. If one is praying without a minyan, he doesn’t blow the shofar (or hear the shofar blown by someone else) when reciting these three blessings.4
          Thus, it is very important to pray this Musaf with the congregation. This is in addition to the general reason that G‑d is more likely to “overlook” iniquities and accept the prayers of a community.5
        </p>

        <h6 class="text-center">What’s in These Blessings?</h6>
        <p>
          Each of the three blessings includes three verses from the Torah (Pentateuch), three from Nevi'im (Prophets), three from Ketuvim (Writings) and a concluding verse from the Torah, for a total of ten verses. The number ten corresponds to the Ten
          Utterances with which G‑d created the world.6
        </p>

        <h6 class="text-center">Malchiyot (Sovereignty)</h6>
        <p>
          Rosh Hashanah commemorates the day that Adam, the first person, was created. It was the creation of man that crowned G‑d as King of the universe. While there were creations before man, including angels, one is only king over subjects, not slaves (angels) or animals. When Adam was created and recognized that G‑d was Master and King of the universe, he felt that it was necessary for all of creation to acknowledge this, transforming the day of his creation into the day of G‑d’s coronation.
          Thus, in this blessing we start off by reciting verses expressing our gratitude that G‑d has established a special relationship with His nation, and that He is King and Master of all the world. We end this blessing with an expression of hope and confidence that the day will come when all nations of the world will recognize G‑d’s reign over the universe.
        </p>
        <h6 class="text-center">Zichronot (Remembrances)</h6>
        <p>
          As King, G‑d judges how loyal each one of his subjects was throughout the year. G‑d is a G‑d of mercy; in judging us, He not only remembers our every action—for good or not so good—throughout the year, but He also remembers everything that has occurred throughout the history of creation that may stand in our good stead.
          Thus, while this blessing includes verses that remind us how G‑d recalls everything we did, we also recite verses that express how G‑d remembers the righteous acts of our ancestors, concluding with the blessing “. . . Who remembers His covenant.”
        </p>
        <h6 class="text-center">Shofrot (Sounding of the Shofar)</h6>
        <p>
          The shofar blasts signify both the coronation of the King as well as the announcement of the King’s arrival.
          The Talmud tells us that G‑d says to us on Rosh Hashanah, “Say before Me verses whose themes are sovereignty,
          remembrances and shofar. Sovereignty, so that you should crown Me king over you; remembrances, so that I should
          remember you for good; and with what? With a shofar.”7 Thus, it is through the shofar that the first two “objectives,”
          coronation and remembrance, are accomplished. Additionally, the sounding of the shofar reminds us of the two greatest
          events in all time: the giving of the Torah and the coming of Moshiach. Thus, we recite verses describing the revelation
          at Sinai as well as a prayer for the sounding of the great shofar heralding the final redemption.
        </p>

        <h6 class="text-center">Expression of the Fundamentals of our Faith</h6>
        <p>
          The 15th century Jewish philosopher Rabbi
          <q-btn flat @click="Yosef = true" class="text-red text-capitalize">Yosef Albo</q-btn>explains that these three blessings are an expression of the
          most basic principles of the Jewish faith. We start off with Malchiyot, which reminds us of the existence and absolute
          sovereignty of G‑d. Zichronot reminds us that G‑d knows and remembers every action, and it is His providence that
          decides our fate. Shofrot reminds us of the truth and eternity of the Torah, which was given to us with a tremendous
          shofar blast that emanated from heaven. Such a heavenly shofar blast will once again be heard in the Messianic Era,
          when all will recognize the truth of the Torah, as the prophet Zachariah proclaims: “And the L‑rd G‑d shall sound
          the shofar, and He shall go with the whirlwinds of the south.”8 9 May it be speedily in our days!
        </p>
        <h6 class="text-center">Shofar blowing</h6>

        <p>
          The best-known ritual of Rosh Hashanah is the blowing of the shofar, a musical
          instrument made from an animal horn. The shofar is blown at various instances
          during the Rosh Hashanah prayers, with a total of 100 blasts over the day.
          While the blowing of the shofar is a Biblical statute, it is also a symbolic
          “wake-up call,” stirring Jews to mend their ways and repent. The shofar blasts
          call out: “Sleepers, wake up from your slumber! Examine your ways and repent and remember your Creator
        </p>
        <h6 class="text-center">Greetings</h6>
        <p>
          The Hebrew common greeting on Rosh Hashanah is Shanah Tovah
          (Hebrew: שנה טובה‎; pronounced [ʃaˈna toˈva]), which translated from Hebrew means "[have a] good year".
          Often Shanah Tovah Umetukah (Hebrew: שנה טובה ומתוקה‎), meaning "[have a] Good and Sweet Year", is used.
          In Yiddish the greeting is אַ גוט יאָר "a gut yor" ("a good year") or אַ גוט געבענטשט יאָר "a gut gebentsht yor"
          ("a good blessed year").The formal Sephardic greeting is Tizku Leshanim Rabbot
          ("may you merit many years"),[43] to which the answer is Ne'imot VeTovot ("pleasant and good ones").
        </p>

        <h6 class="text-center">The days before Rosh Hashanah</h6>
        <p>
          Rosh Hashanah is preceded by the month of
          <q-btn flat @click="Elu = true" class="text-red text-capitalize">Elul</q-btn>, during which Jews are supposed to begin a self-examination
          and repentance, a process that culminates in the ten days of the Yamim Nora'im, the Days of Awe, beginning
          with Rosh Hashanah and ending with the holiday of Yom Kippur.
          The shofar is traditionally blown each morning for the entire month of Elul, the month preceding
          Rosh Hashanah. The sound of the shofar is intended to awaken the listeners from their "slumbers"
          and alert them to the coming judgment. The shofar is not blown on Shabbat.
          In the period leading up to Rosh Hashanah, penitential prayers, called selichot,
          are recited. The Sephardic tradition is to start at the beginning of Elul, while
          the Ashkenazi practice is to start a few days before Rosh Hashanah.
        </p>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
    <!-- Dialog -->
    <q-dialog v-model="Yosef">
      <q-card>
        <q-card-section>
          <div class="text-h6">Yosef</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          (a) (1562-1452 BCE) Son of Jacob and Rachel, eleventh of the Twelve Tribes.
          As the oldest son of his favored wife, Jacob loved him dearly and gave him preferential
          treatment, causing Joseph's brothers to envy him and sell him into slavery. He landed in
          Egypt, where, after enduring slavery and prison, he interpreted Pharaoh’s puzzling dreams
          and became viceroy of the land. During the famine that followed he brought his family down
          to Egypt, setting the stage for their slavery and ultimately their Exodus. Buried in Joseph’s
          Tomb in Shechem. (b) A common Jewish name.
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="Elu">
      <q-card>
        <q-card-section>
          <div class="text-h6">Elul</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          Elul is the twelfth month of the Jewish civil year and the sixth
          month of the ecclesiastical year on the Hebrew calendar. It is a summer
          month of 29 days. Elul usually occurs in August–September on the Gregorian calendar.
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      Yosef: false,
      Elu: false
    };
  }
};
</script>