<template>
  <div>
    <q-img src="../../statics/img/seder-family.jpg" :style="$q.screen.lt.md ?'' :'height:600px'"></q-img>
    <div class="row justify-center q-pa-md">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>

      <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 text-center text-body1">
        <p>
          passover is among the most widely celebrated Jewish holidays. While the particulars
          vary significantly from community to community, and even between individual families, there are many Passover
          customs that are observed in some form by large numbers of Jews.
        </p>
        <h6>Avoiding leavened bread</h6>
        <p>
          Passover is the strictest Jewish holiday when it comes to food.
          For eight days (seven in Israel), Jews traditionally avoid eating
          food made from leavened grain. Most significantly, this means
          avoiding any bread or bread products, with some Jews additionally
          abstaining from any grain product, including beer, pasta, oatmeal and most liquors.
        </p>

        <h6>Ridding the house of hametz</h6>
        <p>
          In addition to not eating bread, some Jews completely rid their houses
          of bread products — known in Hebrew as
          <q-btn outline rounded label="hametz" @click="alert = true" style="height:30px">
            <q-icon name="mdi-star" color="blue"></q-icon>
          </q-btn>. Those who observe this
          custom strictly will clean their house thoroughly to ensure even the
          crumbs behind the couch are removed. Grain products that are too difficult or expensive to
          remove will sometimes be kept at home but sold to a non-Jew for the duration of the holiday.
        </p>
        <h6>Fast of the First Born</h6>
        <p>
          Some Jews have the practice that the first born in every family
          fasts on the eve of Passover from sunrise to sunset. This fast is
          the only one in the Jewish calendar that applies only to one segment
          of the Jewish community and was established to remember how God spared
          the first born sons of Israel while killing the first born sons of the
          Egyptians. Some Jews have the custom of avoiding the fast by holding a
          festive meal early in the day to mark the completion of some portion of Torah study.
        </p>
        <h6>The Seder</h6>
        <p>
          The centerpiece of the Passover holiday is the
          <q-btn outline rounded label="seder" @click="seder = true" style="height:30px">
            <q-icon name="mdi-star" color="blue"></q-icon>
          </q-btn>.
          , a ceremonial
          feast held at home on the first night of the holiday
          (some Jews who live outside Israel hold two seders,
          one on each of the first two nights.) The seder meal
          is intended to dramatically retell the story of the
          liberation of the ancient Israelites from slavery in Egypt
          and is laden with symbolic foods and rituals, including the
          eating of the bitter herbs (symbolizing the hardship of slavery)
          and the dipping of a green vegetable into salt water
          (symbolizing the bounty of the spring season). As with nearly all Jewish
          observances, the seder is preceded by the lighting of candles and the blessing of wine.
        </p>

        <h6>Eating matzah</h6>
        <p>
          Dubbed “the bread of affliction,” matzah is an unleavened cracker, usually
          made from wheat, that is baked quickly (in under 18 minutes) before the
          batter has a chance to rise. It is eaten at the seder and throughout
          the holiday in remembrance of the haste in which the Jews left Egypt,
          leaving no time for their bread to rise. Matzah is the consummate symbol of Passover, which is sometimes
          referred to in Hebrew as Chag Hamatzot — the holiday of the matzah.
        </p>
        <h6>Synagogue services</h6>
        <p>
          Like all Jewish festivals, Passover has a special synagogue service
          that includes specific Torah readings for the holiday and the chanting
          of Song of Songs, the poetic work attributed to King Solomon. The memorial
          service
          <q-btn outline rounded label="Yizkor" @click="Yizkor = true" style="height:30px">
            <q-icon name="mdi-star" color="blue"></q-icon>
          </q-btn>is also traditionally held in the synagogue on the
          final day of the holiday, one of only four times during the year it is recited.
        </p>

        <h6>No work</h6>

        <p>
          During the first two and last two days of Passover, many traditionally
          observant Jews will abstain from most of the same activities
          they avoid on the Sabbath — no driving, working, using electricity,
          lighting fires or spending money. On the intermediary days of the
          holiday — known as
          <q-btn outline rounded label="hol hamoed" @click="hamoed = true" style="height:30px">
            <q-icon name="mdi-star" color="blue"></q-icon>
          </q-btn>— those restrictions do not apply.
          Many Jewish schools close for the full duration of the holiday.
        </p>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
    <!-- ALL Dialog  Show-->
    <q-dialog v-model="alert">
      <q-card>
        <q-card-section>
          <div class="text-h6">HAMETZ</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          Pronounced: khah-METZ or KHUH-metz, Origin: Hebrew, bread or any food that
          has been leavened or contains a leavening agent. Hametz is prohibited on Passover.
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!--  -->

    <q-dialog v-model="seder">
      <q-card>
        <q-card-section>
          <div class="text-h6">SEDER</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          Pronounced: SAY-der, Origin: Hebrew, literally “order”; usually used to describe
          the ceremonial meal and telling of the Passover story on the first
          two nights of Passover. (In Israel, Jews have a seder only on the
          first night of Passover.)
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="Yizkor">
      <q-card>
        <q-card-section>
          <div class="text-h6">Yizkor</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          Pronounced: YIZZ-kur, Origin: Hebrew, literally “May G-d remember,” Yizkor
          is a prayer service in memory of the dead, which is held on Yom Kippur and on
          the last day of each of the three festivals, Passover, Shavuot and Shemini Atzeret.
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="hamoed">
      <q-card>
        <q-card-section>
          <div class="text-h6">hol hamoed</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          Pronounced: KHOLE-ha-moe-EHD, Origin: Hebrew, the intermediate days of
          the week-long festivals of Passover and Sukkot,
          falling between the first two days of each holiday,
          and the last two days of each holiday.u
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
export default {
  data() {
    return {
      alert: false,
      seder: false,
      Yizkor: false,
      hamoed: false,
      address: ""
    };
  }
};
</script>