<template>
  <div>
    <q-img src="../../statics/img/shabbathe.jpg" :style="$q.screen.lt.md ?'height:300px' :'height:700px'"></q-img>
    &nbsp;
    <p class="text-h4 text-center">Shabbath</p>
    <div class="row justify-center">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
      <div
        class="col-xs-12 col-sm-12 col-md-8 col-lg-8 q-pa-md text-body1"
        :class="$q.screen.lt.md ?'text-center' :''"
      >
        <p>
          Shabbat is observed on the seventh day of the week in fulfillment of the biblical
          commandment: "Six days you shall labor and do all your work, but the seventh day is a
          Sabbath of Adonai your God." (Exodus 20:9-10) In accordance with the Jewish calendar,
          the Sabbath begins on Friday evening at sunset and ends on Saturday night with the appearance
          of three stars. All Jewish days begin at sunset. This is based on the wording of the Creation story
          in Genesis 1. At the end of the description of each day, we find the phrase: "And there was evening,
          and there was morning…" Since evening is mentioned first,
          the ancient rabbis deduced that evening is first.
        </p>
        <br />
        <p>
          While Shabbat occurs on Friday evening and Saturday, it is more than
          simply another day of the week. It is a special day and we invest it with specialness.
          Friday and Saturday come automatically, but Shabbat takes place only when we make it happen.
          We prepare for Shabbat by the clothes we wear, by the meals we eat, by the lighting of Sabbath
          candles, and by chanting the
          Kiddush over wine to set apart this special time.
        </p>
        <h6 class="text-center">Shabbat at Home</h6>
        <p>
          Shabbat truly becomes what it was meant to be as we bring it into our lives. We begin to create a Shabbat atmosphere by preparing our house for Shabbat. This need not be a monumental or cumbersome task. For instance, playing Jewish music while you clean can help create the Shabbat mood, and you can learn a lot of Jewish songs in the process. Bringing is some fresh flowers make
          the house more Shabbosdik (Yiddish for having a Shabbat atmosphere).
          <br />Friday night is a time for a special meal. The table is set as befits a visit by a queen since Shabbat is metaphorically seen as a queen. It is a time to use the best table linens, dishes and silverware. On the table are the candlesticks and candles, a Kiddush cup and wine, one or
          two loaves of challah covered with a challah cover.
        </p>
        <h6 class="text-center">Shabbat Greetings</h6>
        <p>
          It is traditional greet one another with a special greeting on Shabbat. Some say "Gut Shabbos." This is Yiddish for "Have a good Sabbath." This greeting is prevalent amongst those of Ashkenazi ancestry and those born in Europe. Another common greeting is "Shabbat Shalom." This is Hebrew for "Sabbath Peace" and expresses the hope that one will have a peaceful Shabbat. This Hebrew greeting is used by those from Israel or of Sephardic ancestry. After the founding of the modern state of Israel,
          when many Jews began learning modern Hebrew, this phrase grew in popularity.
        </p>
        <h6 class="text-center">Tzedakah on Shabbat</h6>
        <p>
          Many households begin Shabbat by observing the mitzvah of tzedakah. While tzedakah is often translated as "charity," it does not really mean charity. The word is based on a Hebrew root meaning "righteousness" or "justice." The mitzvah (a religious obligation, which flows from the covenantal relationship between the Jewish people and God) of tzedakah places on every Jew the obligation to right the injustices of society. One of the ways we do this is by contributing money to help
          individuals or groups who are in need themselves or who are engages in helping others.
        </p>
        <h6 class="text-center">Shabbat Candles</h6>
        <p>
          The lighting of candles ushers in Shabbat. The practice is a rabbinic institution, which, over the centuries, has become the tradition. According to Jewish tradition, the woman of the household generally lights the Shabbat candles. However, since the lighting of candles is a requirement
          of Shabbat observance, not necessarily tied to gender, men or women may light them.
          <br />
          <br />Jewish custom requires a minimum of two candles, since the fourth of the
          Ten Commandments occurs in two separate sections of the Torah in different form:
        </p>
        <ol>
          <li>Remember the Sabbath day to keep it holy.</li>
          <li>Observe the Sabbath day to keep it holy.</li>
        </ol>
        <br />
        <p>
          More than two candles may be kindled, but the usual number is two. It is customary to use white candles made especially for Shabbat, but candles of any color may
          be utilized so long as they will burn for a substantial length of time into the evening.
        </p>
        <h6 class="text-center">Lighting the Shabbat Candles</h6>
        <p>
          According to traditional observance, one would not light a fire once Shabbat has begun. Thus, we light the candles before saying the blessing, since the blessing marks the beginning of Shabbat. However, since a blessing always precedes an act, we cover our eyes while reciting
          it so as not to view the burning candles until after the blessing has been completed.
        </p>
        <h6 class="text-center">The procedure, then, is as follows:</h6>
        <ol>
          <li>Light the candles.</li>
          <li>Cover or close the eyes.</li>
          <li>Recite the blessing:</li>
        </ol>
        <br />
        <p>
          Baruch atah Adonai, Eloheinu Melech haolam, asher kid'shanu b'mitzvotav v'tzivanu l'hadlik ner shel Shabbat.
          <br />"Blessed are You, Adonai our God, Ruler of the universe, who has sanctified us through Your mitzvot and commanded us to kindle the Shabbat candles."
        </p>
        <h6 class="text-center">The Friday Night Shabbat Kiddush</h6>
        <p>
          Kiddush means "sanctification." It comes from the same Hebrew root as the word kadosh, which means "holy." Exodus 20:8 is the fourth of the Ten Commandments: "Remember the Sabbath day to keep it holy" (to sanctify it). The Rabbis interpreted the word "remember" as an injunction to sanctify Shabbat both at its beginning and at its end.
          The Kiddush fulfills the mitzvah at the beginning of Shabbat, the Havdalah service at its conclusion.
          <br />
          <br />Wine is a symbol of joy and life in Judaism. While no specific reference to wine in relation to the Kiddush appears in the Torah, the Rabbis declared that the Kiddush should be recited over wine (". . . borei p'ri hagafen"). Out of sensitivity to those who had no wine, however, the Rabbis also ruled that the Kiddush may be recited over
          the challah. In such a case, the Motzi is substituted for the prayer over the wine.
          <br />
          <br />While it is customary for at least one adult male to recite the Kiddush, this ritual is a requirement of Shabbat itself and not necessarily the sole domain of men or women. Men or women may recite or chant the Kiddush. In addition,
          all those who are present at the table should join in the Kiddush, if they so desire.
          <br />
          <br />There is no prescribed form or design for the Kiddush cup. Custom has resulted in beautiful cups being designed especially for Shabbat, to honor the Shabbat and its special significance. But any cup or glass may
          be used, the only traditional requirement being that it contain at least 3.3 ounces of wine.
          <br />
          <br />The b'rachah (blessing) ". . . borei p'ri hagafen" refers to the fruit of the vine. Traditionally, the wine should be made from grapes and not other fruits. If there are members of the family who do not drink wine, they may recite the Kiddush over grape juice. Reform Jews may or may
          not observe kashrut and therefore use kosher or non-kosher wine and grape juice as they choose.
        </p>
        <br />
        <h6 class="text-center">The traditional Shabbat Kiddush consists of three sections:</h6>
        <ol>
          <li>
            A section from the Creation story in the Torah describing how Elohim rested on the seventh day, blessed it,
            and hallowed it (Genesis 1:31-2:3).
          </li>
          <li>A blessing over the wine.</li>
          <li>A blessing over Shabbat itself.</li>
        </ol>
        <h6 class="text-center">The Shabbat Challah</h6>
        <p>
          Challah refers to "dough" and specifies the special twisted loaf of bread eaten by Jews on
          Shabbat and other special occasions. Jewish tradition calls for a b'rachah (blessing) expressing t
          hanks to Elohim before eating any food. It represents a recognition that people owe a measure of
          gratitude to Elohim for providing food for all living things.
          <br />
          <br />Tradition holds that two whole challot (plural of challah) should be used on Shabbat
          as a remembrance of the double portion of manna that fell in the desert so that no Jew
          should have to gather food on Shabbat (Exodus 16:22-32). Another interpretation is that
          the two challot fulfill the biblical injunction articulated in the two versions of the
          Ten Commandments in the Torah: "Remember the Sabbath day to keep it holy" (Exodus 20:8) and "
          Observe the Sabbath day to keep it holy" (Deuteronomy 5:12).
          <br />
          <br />The challah is covered, often with a special decorative cloth before it is served. If a knife is used, it too is covered. The Rabbis used the challah as a vehicle to teach two important Jewish values: human
          dignity and the preciousness of peace.
          <br />
          <br />As one looks at the Shabbat table, one notices that the Shabbat candles are in beautiful candlesticks and that the wine is held up in a lovely Kiddush cup. While the b'rachot over them are being recited, the challah lies alone on the table. The Rabbis, seeing this, decreed that the challah should be covered, lest its feelings be hurt by its seemingly secondary status. One rabbi said: "This teaches us concern for the feelings even of inanimate things. And if this is the case, how much more so we should be concerned about
          the feelings of human beings." Thus, we cover the challot as a lesson in human dignity.
        </p>
        <h6 class="text-center">Celebrating Shabbat in the Synagogue</h6>
        <br />
        <p>
          Another very important aspect of Shabbat is community. The community gathers for worship each Shabbat, reaffirming our covenantal tie to God and to one another. Some synagogues have their major Sabbath service on Friday evening while others have it on Saturday morning. The service consists of prayers and readings in Hebrew and English (the amount of Hebrew and English varies from synagogue to synagogue), songs, a Torah reading, and a talk or sermon. In many temples, after Shabbat evening services there is an Oneg Shabbat (joy of the Sabbath) at which refreshments are served and there is an opportunity to socialize. Following Shabbat morning services, there is a Kiddush in the synagogue.
          After the blessings over the wine and the bread, people exchange Shabbat greetings.
          <br />
          <br />One of the things that makes this day so special is that we eat so well. Many people have a special meal following the
          morning service and another smaller meal (seudah shelishsit) before sunset.
        </p>
        <h6 class="text-center">Havdalah</h6>
        <p>
          Just as there is a ceremony welcoming Shabbat, so there is one to mark its conclusion. It is called Havdalah, which means "separation." The ceremony takes place on Saturday night after sunset. The lights are usually off or kept dim. It consists of blessings over wine, spices, and a braided candle. While it resembles the Friday night ceremony in many ways, there are some differences as well. Wine is used at both ceremonies. Two candles and a braided challah are used on Friday night while, on Saturday night, one braided candle with many wicks is used. The new element in the ceremony is the blessing of sweet-smelling spices. There is an explanation offered for this ceremony. Because Shabbat is such a special day, each Jew receives an extra soul at the beginning of Shabbat, which departs at the end of Shabbat. To revive us, because we've lost this extra soul, we smell spices at Havdalah, bringing some of the sweetness of the Shabbat with us into the week. The climax of the ritual is when the candle is doused in the wine, and we stand in the darkness of the new week. But the darkness is not one of hopelessness; it is a time when we confront the new week with a vision of what we must do to bring about a better world. We sing the song
          of the prophet Elijah, symbol of the messianic future - a time when the world will be perfected.
          <br />
          <br />Rest, worship and study are essential elements of Shabbat observance. The principle of Shabbat is to sanctify time. The whole of Shabbat is greater than the sum of its parts. It is more than lighting candles, drinking wine, or attending a service. We sanctify Shabbat by setting it apart, making it distinctive, and differentiating it from the rest of our week. As Abraham Joshua Heschel has written: "Six days a week we live
          under the tyranny of things of space; on the Sabbath we try to become attuned to holiness in time.
        </p>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
  </div>
</template>