<template>
  <div>
    <q-img
      src="../../statics/img/Simchat-torah.jpg"
      :style="$q.screen.lt.md ?'height:300px' :'height:650px'"
    ></q-img>
    <br>
    <br>
    <p class="text-center text-h4">Shemini Atzeret / Simchat Torah</p>
    <p
      class="text-center text-body1"
    >Following the seven joyous days of Sukkot, comes the happy holiday known as Shemini Atzeret/Simchat Torah.</p>
    <div class="row justify-center text-body1">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
      <div
        class="col-xs-12 col-sm-12 col-md-8 col-lg-8 q-pa-md"
        :class="$q.screen.lt.md ?'text-center' :''"
      >
        <p class="text-center text-h4">Simchat Torah</p>
        <p>Following the seven joyous days of Sukkot, we come to the happy holiday of Shemini Atzeret/Simchat Torah.</p>
        <br />
        <p>In the diaspora, the first day is known by its biblical name, Shemini Atzeret. We still dwell in the sukkah, but without a blessing. Yizkor, the memorial for the departed, is also said on this day.</p>
        <br />
        <p>
          The second day is known as Simchat Torah, during which we complete and immediately begin the annual Torah reading cycle. This joyous milestone is marked with dancing, traditionally following seven circuits
          known as hakafot, as the Torah scrolls are held aloft.
        </p>
        <br />
        <p>Both days are celebrated by nightly candle lighting, festive meals at both night and day, and desisting from work. In Israel, the entire holiday is compacted into one heady 24-hour period.</p>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
  </div>
</template>