<template>
  <div>
    <q-img src="../../statics/img/Sukkah.jpg" :style="$q.screen.lt.md ?'height:300px' :'height:600px'"></q-img>
    &nbsp;
    <p class="text-h4 text-center text-capitalize">feast of tabanacle / Sukkot</p>
    <div class="row justify-center">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
      <div
        class="col-xs-12 col-sm-12  col-md-8 col-lg-8 q-pa-md text-body1"
        :class="$q.screen.lt.md ?'text-center' :''"
      >
        <p>
          Sukkot, a Hebrew word meaning "booths" or "huts," refers to the Jewish festival of giving
          thanks for the fall harvest. It also commemorates the 40 years of Jewish wandering in the
          desert after the giving of the Torah atop Mt. Sinai. Sukkot is celebrated five days after Yom
          Kippur on the 15th of the month of Tishrei, and is marked by several distinct traditions. One,
          which takes the commandment to dwell in booths literally, is to erect a sukkah, a small, t
          emporary booth or hut. Sukkot (in this case, the plural of sukkah) are commonly used during
          the seven-day festival for eating, entertaining and even for sleeping.
          <br />
          <br />Sukkot also called Z’man Simchateinu (Season of Our Rejoicing), is the only
          festival associated with an explicit commandment to rejoice. A final name for
          Sukkot is Chag HaAsif, (Festival of the Ingathering), representing a time to give thanks for
          the bounty of the earth during the fall harvest.
        </p>
        <h6 class="text-center">Ritual Objects</h6>
        <p>
          The sukkah symbolizes the frail huts in which the Israelites lived
          during their 40 years of wandering in the desert after the Exodus from Egypt.
          It also serves to remind Jews of the biblical account of how Elohim protected them,
          provided for their needs in the
          wilderness, and by implication, still watches over us today.
        </p>
        <br />
        <p>
          Sukkot come in many variations, but there are some guidelines to follow when building them.
          Two important ones are:
        </p>
        <li>
          A sukkah has to have two and a half walls. Only one can be an existing wall,
          like the side of a house. The walls may be constructed of any material,
          generally canvas, wood or metal. Today, it is possible to
          buy ready-to-assemble sukkah kits.
        </li>
        <li>
          The roof is to be temporary, covered with loose branches from trees or
          anything that grows out of the ground, and has been cut off from the ground.
          According to tradition, this roof covering, s’chach, should give shade and yet allow those in the
          sukkah to see the stars through the roof at night.
        </li>
        <br />
        <p>
          Once the sukkah is built, it is common to decorate it by hanging fruit
          and other items from the s’chach, putting posters on
          the walls, and even laying carpet on the floor.
        </p>
        <p>
          <small style="font-size:20px">Lulav and Etrog:</small> Sukkot celebrates the fall harvest, expressed by blessing and waving the lulav and the etrog, symbols of the harvest; by building and decorating a
          sukkah; and by extending hospitality to friends and family.
        </p>
        <br />
        <p>
          The lulav is a combination of date palm, willow and myrtle branches,
          held together by a woven palm branch. The etrog, or citron, is a
          lemon-like fruit with a wonderful citrus smell. When reciting the
          blessing over the lulav and etrog, one should wave them in six
          directions—north, south, east, west, up, and down. This action symbolizes
          that Elohim can be found in all directions, not only in one particular place.
        </p>
        <br />
        <p style="color:red">The traditional ritual for the lulav and etrog is as follows:</p>

        <div>
          <ol>
            <li>
              Stand facing east. Place the lulav (with the spine facing you, myrtle on the right and the willows on the left) in your right hand and the etrog in your left hand.
              Bring your hands together so that the lulav and etrog are side by side.
            </li>
            <li>
              Next, recite this special blessing: Baruch atah Adonai, Eloheinu Melech haolam, asher kid'shanu b'mitzvotav v'tzivanu al n'tilat lulav. "Blessed are You, Adonai our God, sovereign of the universe, who has sanctified us
              through Your mitzvot and ordained the taking of the lulav."
            </li>
            <li>On the first day of the festival, add the Shehecheyanu prayer.</li>
            <li>
              Shake the lulav in all directions – east, south, west, north, up, and
              down – while reciting or chanting the words Hodu l'Adonai ki tov ki l'olam
              chasdo. "Give thanks to Elohim, for Elohim is
              good, for Elohim's loving-kindness endures forever."
            </li>
          </ol>
        </div>

        <h6 class="text-center text-capitalize">In the Congregation</h6>
        <p>
          Many synagogues build sukkot that are used for communal meals and
          celebration. Festival services also are held on the first day of Sukkot, with special prayers included to
          commemorate the holiday as Z’man Simchateinu (Season of Our Rejoicing).
        </p>
        <h6 class="text-center text-capitalize">Torah</h6>
        <p>
          Following an ancient practice of Babylonian Jews that is now observed throughout the world, the Five Books of Moses (Genesis, Exodus, Leviticus, Numbers, and Deuteronomy) are divided into 54 sections called parashat hashavua, the weekly portion. A different section is read each Shabbat. Special sections of the Torah are designated to be read at each Jewish holiday. Often, these sections are thematically related to the holiday.
          On the first day of Sukkot, the Torah portion Emor (Leviticus 23:33-44) is read, which includes the instructions to dwell in booths. The Haftarah, the special selection from the prophetic books that accompanies Torah readings on Shabbat and holidays, is from Zechariah 14:7-9, 16-21. The Torah is read on every day of the festival, including the Shabbat that falls during Sukkot. On this Shabbat, the Book of Kohelet (Ecclesiastes) is read.
        </p>
        <h6 class="text-center text-capitalize">At Home</h6>
        <p>
          Many families build their own sukkah at home, or visit the sukkah of other families. Extending hospitality, especially to the needy is a Sukkot custom. Many Jews invite guests outside of
          their families to join them for a holiday meal in the sukkah.
        </p>
        <br />
        <p>
          It is a mitzvah to celebrate in the sukkah. This is done primarily by
          eating meals in the sukkah, especially on the first night of the Festival. Whenever one eats in the sukkah one, recites
          haMotzi, the prayer over bread, and then adds a special blessing:
        </p>
        <br />
        <p>
          Baruch atah Adonai, Eloheinu Melech haolam, asher kid’shanu b’mitzvotav v’tzivanu leisheiv basukah.
          Blessed are You, Adonai our Elohim, sovereign of the universe, who has sanctified us through your mitzvot and commanded us to dwell in the sukkah.
        </p>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
  </div>
</template>