<template>
  <div class="q-pa-md"> 
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-12">
        <form action="https://www.biblegateway.com/quicksearch/">
          <p class="text-h6 text-center">
            Lookup a word or passage in the Bible
          </p>
          <p class="text-weight-light text-center">
            coping and pasting a bible passage is as simple as drinking water,
            copy the right passage and verse and past in the box provided e.g
            Isaiah 1:18
          </p>

          <div style="margin-bottom: 0;">
            <q-input
              type="text"
              name="quicksearch"
              outlined
              label="eg: ex 20:20"
            />
            <br />
            <q-btn class="full-width" type="submit" outlined color="primary"  push>
              Search BibleGateway.com
            </q-btn>
          </div>
        </form>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</template>