<template>
  <div class="q-pa-md">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <p class="text-h3">Recent News</p>
        <p class="text-body1">
          Recent News Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Molestiae ut ratione similique
        </p>
        <div class="row q-col-gutter-md">
          <div class="col-md-4 " v-for="(blog, index) in blogs" :key="index">
            <q-card style="width:100%">
              <q-img
                src=".././statics/img/bg.jpeg"
                style="height: 200px;"
              ></q-img>
              <q-card-section>
                {{ blog.content }}
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-2"></div> -->
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      blogs: [
        {
          content:
            '  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations',
        },
        {
          content:
            '  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations',
        },
        {
          content:
            '  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations',
        },
        {
          content:
            '  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations',
        },
         {
          content:
            '  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations',
        },
         {
          content:
            '  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations  form of the mile then spread to the British-colonized nations',
        },
        
      ],
    }
  },
}
</script>
