<template>
  <div>
    <!-- WRAPPER -->
    <div class="wrapper bg-dark">
      <br />
      <!-- NEWS LETTER -->
      <!-- <div class="mt-5 flex flex-center">
        <span class="text-h6">Join our news letter</span>
        <q-separator spaced inset vertical dark />
        <q-input type="text" label="Enter your email" filled />
        <q-separator spaced inset vertical dark />
        <q-btn color="primary" label="subbscribe me" />
      </div> 
      <br />
      <q-separator />
      -->
      <!-- // NEWS LETTER -->

      <!-- SERVICES AND OTHER FOOTERS -->
      <div class="row justify-center text-center">
        <div class="col-md-3 col-xs-6 text-white">
          <span class="text-h6">Services</span>
          <br />
          <br />
          <div
            v-for="service in services"
            :key="service.title"
            class="mb-4"
            @click="$router.push(service.to)"
          >
            {{ service.title }}
            <br />
            <br />
          </div>
        </div>

        <div class="col-md-3 col-xs-6 text-white">
          <span class="text-h6">About Us</span>
          <div
            v-for="about in abouts"
            :key="about.title"
            class="mb-4"
            @click="$router.push(about.to)"
          >
            {{ about.title }}
            <br />
            <br />
          </div>
        </div>

        <div class="col-md-3 col-xs-6 text-white">
          <span class="text-h6">Contact Us</span>
          <div
            v-for="contact in contacts"
            :key="contact.title"
            class="mb-4"
            @click="$router.push(contact.to)"
          >
            <br />
            <a
              style="text-decoration:none"
              class="phone-link text-white"
              :href="`tel://${contact.title}`"
            >{{ contact.title }}</a>
          </div>
        </div>

        <div class="col-md-3 col-xs-6 text-white">
          <span class="text-h6">Follow Us</span>

          <div class="row justify-center">
            <div
              v-for="connect in connects"
              :key="connect.title"
              class="col-md-3 col-xs-12 col-lg-3"
              @click="$router.push(connect.to)"
            >
              <br />
              <q-btn
                class="text-capitalize"
                flat
                :label="connect.title"
                :color="connect.color"
                :icon="connect.icon"
              />
            </div>
          </div>
        </div>
        <!-- <q-card style="height:200px"></q-card> -->
      </div>
      <br />
      <div class="text-center text-white">
        <router-link to="/terms" class="text-white">Terms of use</router-link>&nbsp;| crudloop as 1844&trade; 2019 - 2020 | A1-104, MOUAU, Umudike Road, Abia State, Nigeria.
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      services: [
        {
          title: "Web Development",
          to: "/services/web"
        },
        {
          title: "Mobile Development",
          to: "/services/mobile"
        },
        {
          title: "UI/UX Design",
          to: "/services/ui-ux"
        }
      ],
      abouts: [
        {
          title: "Overview",
          to: "/about/overview"
        },
        {
          title: "Team",
          to: "/about/team"
        },
        {
          title: "Contact",
          to: "/contact"
        }
      ],
      contacts: [
        { title: "+2349076641303" },
        { title: "+2348068229376" },
        { title: "+2349019133013" },
        { title: "+2349039172303" }
      ],
      connects: [
        {
          title: "Facebook",
          to: "",
          icon: "mdi-facebook",
          color: "grey"
        },
        {
          title: "Twitter",
          to: "",
          icon: "mdi-twitter",
          color: "grey"
        },
        {
          title: "Twitter",
          to: "",
          icon: "mdi-twitter",
          color: "grey"
        }
      ]
    };
  }
};
</script>

<style scoped>
.phone-link {
  color: grey;
}
</style>