<template>
  <div class="q-pa-md">
    <div class="row justify-center q-col-gutter-md">
      <div class="col-md-9">
        <div class="row q-col-gutter-md">
          <div class="col-md-6 col-xs-12">
            <q-img src="../statics/img/s2.jpg" class="img"></q-img>
          </div>
          <div class="col-md-6">
            <!-- <p
              class="text-capitalize text-orange text-h6 text-weight-light text-center"
            >
              every thing in one place
            </p> -->
            <p class="text-capitalize text-h4 text-center">
              Have any suggestion or idea?
            </p>
            <p class="text-capitalize text-body1 text-center">
              The floor is open to everyone that have a great idea or suggestion
              in oreder to make yahweh is life assemble growing
            </p>
            <br />
            <q-form @submit="onSubmit" class="q-gutter-md">
              <q-input
                rounded=""
                outlined=""
                v-model="name"
                label="Your name *"
                lazy-rules
                :rules="[
                  (val) => (val && val.length > 0) || 'Please type something',
                ]"
              />

              <q-input
                outlined=""
                rounded=""
                type="textarea"
                v-model="age"
                label="Your idea or suggestion "
                lazy-rules
                :rules="[
                  (val) =>
                    (val !== null && val !== '') || 'Please type your age',
                  (val) => (val > 0 && val < 100) || 'Please type a real age',
                ]"
              />

              <div>
                <q-btn
                  outline=""
                  rounded=""
                  label="Submit"
                  type="submit"
                  color="primary"
                  style="width: 100%;"
                  size="15px"
                />
              </div>
            </q-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: null,
      age: null,

      accept: false,
    }
  },

  methods: {
    onSubmit() {
      if (this.accept !== true) {
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'You need to accept the license and terms first',
        })
      } else {
        this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: 'Submitted',
        })
      }
    },
  },
}
</script>

<style scoped></style>
