<template>
  <div class="layout">
    <!-- ommited -->
    <SocialChat class="whatsapp-chat" :attendants="attendants" :url="url">
      <p slot="header">
        Click one of our representatives below to chat on WhatsApp.
      </p>
      <!-- <MyWhatsAppIcon slot="button" /> -->
      <small slot="footer">Opening hours: 8am to 6pm</small>
    </SocialChat>
  </div>
</template>

<script>
import { SocialChat } from 'vue-social-chat'

export default {
  name: 'WhatsAppPage',

  components: {
    SocialChat,
  },

  data: () => ({
    url: 'wa.link/aziho1',
    attendants: [
      {
        app: 'whatsapp',
        label: 'David Miles',
        name: 'David Miles',
        number: '+2349039172303',

        avatar: {
          src:
            'https://avatars0.githubusercontent.com/u/8084606?s=460&u=20b6499a416cf7129a18e5c168cf387e159edb1a&v=4',
          alt: 'Alan Ktquez avatar',
        },
      },
      {
        app: 'whatsapp',
        label: 'Emeka ',
        name: 'Emeka',
        number: '09039172303',
        avatar: {
          src:
            'https://avatars0.githubusercontent.com/u/8084606?s=460&u=20b6499a416cf7129a18e5c168cf387e159edb1a&v=4',
          alt: 'Alan Ktquez avatar',
        },
      },
      // ...
    ],
  }),
}
</script>

<style>
.whatsapp-chat {
  --whatsapp: #46c056;
  --vsc-bg-header: var(--whatsapp);
  --vsc-bg-button: var(--whatsapp);
  --vsc-outline-color: var(--whatsapp);
}
</style>
